= simple_form_for(@detalle) do |f|
  = f.error_notification

  .form-inputs
    = f.input :NroLinDet
    = f.input :TpoCodigo
    = f.input :VlrCodigo
    = f.input :TpoDocLiq
    = f.input :IndExe
    = f.input :IndAgente
    = f.input :MntBaseFaena
    = f.input :MntMargComer
    = f.input :PrcConsFinal
    = f.input :NmbItem
    = f.input :DscItem
    = f.input :QtyRef
    = f.input :UnmdRef
    = f.input :PrcRef
    = f.input :QtyItem
    = f.input :FchElabor
    = f.input :FchVencim
    = f.input :UnmdItem
    = f.input :PrcItem
    = f.input :DescuentoPct
    = f.input :DescuentoMonto
    = f.input :CodImpAdic
    = f.input :MontoItem
    = f.association :documento

  .form-actions
    = f.button :submit
