%p#notice= notice

%p
  %b Nrolindet:
  = @detalle.NroLinDet
%p
  %b Integer:
  = @detalle.integer
%p
  %b Tpocodigo:
  = @detalle.TpoCodigo
%p
  %b String:
  = @detalle.string
%p
  %b Vlrcodigo:
  = @detalle.VlrCodigo
%p
  %b String:
  = @detalle.string
%p
  %b Tpodocliq:
  = @detalle.TpoDocLiq
%p
  %b String:
  = @detalle.string
%p
  %b Indexe:
  = @detalle.IndExe
%p
  %b String:
  = @detalle.string
%p
  %b Indagente:
  = @detalle.IndAgente
%p
  %b String:
  = @detalle.string
%p
  %b Mntbasefaena:
  = @detalle.MntBaseFaena
%p
  %b Integer:
  = @detalle.integer
%p
  %b Mntmargcomer:
  = @detalle.MntMargComer
%p
  %b Integer:
  = @detalle.integer
%p
  %b Prcconsfinal:
  = @detalle.PrcConsFinal
%p
  %b Integer:
  = @detalle.integer
%p
  %b Nmbitem:
  = @detalle.NmbItem
%p
  %b Integer:
  = @detalle.integer
%p
  %b Dscitem:
  = @detalle.DscItem
%p
  %b String:
  = @detalle.string
%p
  %b Qtyref:
  = @detalle.QtyRef
%p
  %b Integer:
  = @detalle.integer
%p
  %b Unmdref:
  = @detalle.UnmdRef
%p
  %b String:
  = @detalle.string
%p
  %b Prcref:
  = @detalle.PrcRef
%p
  %b Float:
  = @detalle.float
%p
  %b Qtyitem:
  = @detalle.QtyItem
%p
  %b Float:
  = @detalle.float
%p
  %b Fchelabor:
  = @detalle.FchElabor
%p
  %b String:
  = @detalle.string
%p
  %b Fchvencim:
  = @detalle.FchVencim
%p
  %b String:
  = @detalle.string
%p
  %b Unmditem:
  = @detalle.UnmdItem
%p
  %b String:
  = @detalle.string
%p
  %b Prcitem:
  = @detalle.PrcItem
%p
  %b Descuentopct:
  = @detalle.DescuentoPct
%p
  %b Descuentomonto:
  = @detalle.DescuentoMonto
%p
  %b Integer:
  = @detalle.integer
%p
  %b Codimpadic:
  = @detalle.CodImpAdic
%p
  %b String:
  = @detalle.string
%p
  %b Montoitem:
  = @detalle.MontoItem
%p
  %b Integer:
  = @detalle.integer
%p
  %b Documento:
  = @detalle.documento

= link_to 'Edit', edit_detalle_path(@detalle)
\|
= link_to 'Back', detalles_path
