%h1 Listing creditnotes

%table
  %tr
    %th Version
    %th Tipodte
    %th Folio
    %th Fchemis
    %th Indnorebaja
    %th Indservicio
    %th Mntbruto
    %th Fmapago
    %th Fchcancel
    %th Mntcancel
    %th Saldoinsol
    %th Fchpago
    %th Mntpago
    %th Glosapagos
    %th Periododesde
    %th Periodohasta
    %th Mediopago
    %th Tipoctapago
    %th Numctapago
    %th Bcopago
    %th Termpagocdg
    %th Termpagoglosa
    %th Termpagodias
    %th Fchvenc
    %th Rutemisor
    %th Rznsoc
    %th Giroemis
    %th Telefono
    %th Correoemisor
    %th Acteco
    %th Sucursal
    %th Cdgsiisucur
    %th Dirorigen
    %th Cmnaorigen
    %th Ciudadorigen
    %th Cdgvendedor
    %th Rutmandante
    %th Rutrecep
    %th Cdgintrecep
    %th Rznsocrecep
    %th Numid
    %th Nacionalidad
    %th Girorecep
    %th Contacto
    %th Correorecep
    %th Dirrecep
    %th Cmnarecep
    %th Ciudadrecep
    %th Dirpostal
    %th Cmnapostal
    %th Ciudadpostal
    %th Rutsolicita
    %th Rutchofer
    %th Nombrechofer
    %th Dirdest
    %th Cmnadest
    %th Ciudaddest
    %th Mntneto
    %th Mntexe
    %th Mntbase
    %th Mntmargencom
    %th Tasaiva
    %th Iva
    %th Ivaprop
    %th Ivaterc
    %th Tipoimp
    %th Tasaimp
    %th Montoimp
    %th Ivanoret
    %th Credec
    %th Grntdep
    %th Valcomneto
    %th Valcomexe
    %th Valcomiva
    %th Mnttotal
    %th Montonf
    %th Montoperiodo
    %th Saldoanterior
    %th Vlrpagar
    %th Tpomoneda
    %th Tpocambio
    %th Mntnetootrmnda
    %th Mntexeotrmnda
    %th Mntfaecarneotrmnda
    %th Mntmargcomotrmnda
    %th Ivaotrmnda
    %th Tipoimpotrmnda
    %th Tasaimpotrmnda
    %th Vlrimpotrmnda
    %th Ivanoretotrmnda
    %th Mnttototrmnda
    %th Nrosti
    %th Glosasti
    %th Ordensti
    %th Subtotnetosti
    %th Subtotivasti
    %th Subtotadicsti
    %th Subtotexesti
    %th Valsubtotsti
    %th Lineasdeta
    %th Nrolindr
    %th Tpomov
    %th Glosadr
    %th Tpovalor
    %th Valordr
    %th Valordrotrmnda
    %th Indexedr
    %th Nrolinref
    %th Tpodocref
    %th Indglobal
    %th Folioref
    %th Rutotr
    %th Fchref
    %th Codref
    %th Razonref
    %th Nrolincom
    %th Tipomovim
    %th Glosa
    %th Tasacomision
    %th Valcomneto
    %th Valcomexe
    %th Valcomiva
    %th X509certificate
    %th Signaturevalue
    %th Tmstfirma
    %th
    %th
    %th

  - @creditnotes.each do |creditnote|
    %tr
      %td= creditnote.Version
      %td= creditnote.TipoDTE
      %td= creditnote.Folio
      %td= creditnote.FchEmis
      %td= creditnote.IndNoRebaja
      %td= creditnote.IndServicio
      %td= creditnote.MntBruto
      %td= creditnote.FmaPago
      %td= creditnote.FchCancel
      %td= creditnote.MntCancel
      %td= creditnote.SaldoInsol
      %td= creditnote.FchPago
      %td= creditnote.MntPago
      %td= creditnote.GlosaPagos
      %td= creditnote.PeriodoDesde
      %td= creditnote.PeriodoHasta
      %td= creditnote.MedioPago
      %td= creditnote.TipoCtaPago
      %td= creditnote.NumCtaPago
      %td= creditnote.BcoPago
      %td= creditnote.TermPagoCdg
      %td= creditnote.TermPagoGlosa
      %td= creditnote.TermPagoDias
      %td= creditnote.FchVenc
      %td= creditnote.RUTEmisor
      %td= creditnote.RznSoc
      %td= creditnote.GiroEmis
      %td= creditnote.Telefono
      %td= creditnote.CorreoEmisor
      %td= creditnote.Acteco
      %td= creditnote.Sucursal
      %td= creditnote.CdgSIISucur
      %td= creditnote.DirOrigen
      %td= creditnote.CmnaOrigen
      %td= creditnote.CiudadOrigen
      %td= creditnote.CdgVendedor
      %td= creditnote.RUTMandante
      %td= creditnote.RUTRecep
      %td= creditnote.CdgIntRecep
      %td= creditnote.RznSocRecep
      %td= creditnote.NumId
      %td= creditnote.Nacionalidad
      %td= creditnote.GiroRecep
      %td= creditnote.Contacto
      %td= creditnote.CorreoRecep
      %td= creditnote.DirRecep
      %td= creditnote.CmnaRecep
      %td= creditnote.CiudadRecep
      %td= creditnote.DirPostal
      %td= creditnote.CmnaPostal
      %td= creditnote.CiudadPostal
      %td= creditnote.RUTSolicita
      %td= creditnote.RUTChofer
      %td= creditnote.NombreChofer
      %td= creditnote.DirDest
      %td= creditnote.CmnaDest
      %td= creditnote.CiudadDest
      %td= creditnote.MntNeto
      %td= creditnote.MntExe
      %td= creditnote.MntBase
      %td= creditnote.MntMargenCom
      %td= creditnote.TasaIVA
      %td= creditnote.IVA
      %td= creditnote.IVAProp
      %td= creditnote.IVATerc
      %td= creditnote.TipoImp
      %td= creditnote.TasaImp
      %td= creditnote.MontoImp
      %td= creditnote.IVANoRet
      %td= creditnote.CredEC
      %td= creditnote.GrntDep
      %td= creditnote.ValComNeto
      %td= creditnote.ValComExe
      %td= creditnote.ValComIVA
      %td= creditnote.MntTotal
      %td= creditnote.MontoNF
      %td= creditnote.MontoPeriodo
      %td= creditnote.SaldoAnterior
      %td= creditnote.VlrPagar
      %td= creditnote.TpoMoneda
      %td= creditnote.TpoCambio
      %td= creditnote.MntNetoOtrMnda
      %td= creditnote.MntExeOtrMnda
      %td= creditnote.MntFaeCarneOtrMnda
      %td= creditnote.MntMargComOtrMnda
      %td= creditnote.IVAOtrMnda
      %td= creditnote.TipoImpOtrMnda
      %td= creditnote.TasaImpOtrMnda
      %td= creditnote.VlrImpOtrMnda
      %td= creditnote.IVANoRetOtrMnda
      %td= creditnote.MntTotOtrMnda
      %td= creditnote.NroSti
      %td= creditnote.GlosaSti
      %td= creditnote.OrdenSti
      %td= creditnote.SubTotNetoSti
      %td= creditnote.SubTotIVASti
      %td= creditnote.SubTotAdicSti
      %td= creditnote.SubTotExeSti
      %td= creditnote.ValSubTotSti
      %td= creditnote.LineasDeta
      %td= creditnote.NroLinDr
      %td= creditnote.TpoMov
      %td= creditnote.GlosaDr
      %td= creditnote.TpoValor
      %td= creditnote.ValorDr
      %td= creditnote.ValorDrOtrMnda
      %td= creditnote.IndExeDr
      %td= creditnote.NroLinRef
      %td= creditnote.TpoDocRef
      %td= creditnote.IndGlobal
      %td= creditnote.FolioRef
      %td= creditnote.RUTOtr
      %td= creditnote.FchRef
      %td= creditnote.CodRef
      %td= creditnote.RazonRef
      %td= creditnote.NroLinCom
      %td= creditnote.TipoMovim
      %td= creditnote.Glosa
      %td= creditnote.TasaComision
      %td= creditnote.ValComNeto
      %td= creditnote.ValComExe
      %td= creditnote.ValComIVA
      %td= creditnote.X509Certificate
      %td= creditnote.SignatureValue
      %td= creditnote.Tmstfirma
      %td= link_to 'Show', creditnote
      %td= link_to 'Edit', edit_creditnote_path(creditnote)
      %td= link_to 'Destroy', creditnote, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Creditnote', new_creditnote_path
