%p#notice= notice

%p
  %b Version:
  = @creditnote.Version
%p
  %b Tipodte:
  = @creditnote.TipoDTE
%p
  %b Folio:
  = @creditnote.Folio
%p
  %b Fchemis:
  = @creditnote.FchEmis
%p
  %b Indnorebaja:
  = @creditnote.IndNoRebaja
%p
  %b Indservicio:
  = @creditnote.IndServicio
%p
  %b Mntbruto:
  = @creditnote.MntBruto
%p
  %b Fmapago:
  = @creditnote.FmaPago
%p
  %b Fchcancel:
  = @creditnote.FchCancel
%p
  %b Mntcancel:
  = @creditnote.MntCancel
%p
  %b Saldoinsol:
  = @creditnote.SaldoInsol
%p
  %b Fchpago:
  = @creditnote.FchPago
%p
  %b Mntpago:
  = @creditnote.MntPago
%p
  %b Glosapagos:
  = @creditnote.GlosaPagos
%p
  %b Periododesde:
  = @creditnote.PeriodoDesde
%p
  %b Periodohasta:
  = @creditnote.PeriodoHasta
%p
  %b Mediopago:
  = @creditnote.MedioPago
%p
  %b Tipoctapago:
  = @creditnote.TipoCtaPago
%p
  %b Numctapago:
  = @creditnote.NumCtaPago
%p
  %b Bcopago:
  = @creditnote.BcoPago
%p
  %b Termpagocdg:
  = @creditnote.TermPagoCdg
%p
  %b Termpagoglosa:
  = @creditnote.TermPagoGlosa
%p
  %b Termpagodias:
  = @creditnote.TermPagoDias
%p
  %b Fchvenc:
  = @creditnote.FchVenc
%p
  %b Rutemisor:
  = @creditnote.RUTEmisor
%p
  %b Rznsoc:
  = @creditnote.RznSoc
%p
  %b Giroemis:
  = @creditnote.GiroEmis
%p
  %b Telefono:
  = @creditnote.Telefono
%p
  %b Correoemisor:
  = @creditnote.CorreoEmisor
%p
  %b Acteco:
  = @creditnote.Acteco
%p
  %b Sucursal:
  = @creditnote.Sucursal
%p
  %b Cdgsiisucur:
  = @creditnote.CdgSIISucur
%p
  %b Dirorigen:
  = @creditnote.DirOrigen
%p
  %b Cmnaorigen:
  = @creditnote.CmnaOrigen
%p
  %b Ciudadorigen:
  = @creditnote.CiudadOrigen
%p
  %b Cdgvendedor:
  = @creditnote.CdgVendedor
%p
  %b Rutmandante:
  = @creditnote.RUTMandante
%p
  %b Rutrecep:
  = @creditnote.RUTRecep
%p
  %b Cdgintrecep:
  = @creditnote.CdgIntRecep
%p
  %b Rznsocrecep:
  = @creditnote.RznSocRecep
%p
  %b Numid:
  = @creditnote.NumId
%p
  %b Nacionalidad:
  = @creditnote.Nacionalidad
%p
  %b Girorecep:
  = @creditnote.GiroRecep
%p
  %b Contacto:
  = @creditnote.Contacto
%p
  %b Correorecep:
  = @creditnote.CorreoRecep
%p
  %b Dirrecep:
  = @creditnote.DirRecep
%p
  %b Cmnarecep:
  = @creditnote.CmnaRecep
%p
  %b Ciudadrecep:
  = @creditnote.CiudadRecep
%p
  %b Dirpostal:
  = @creditnote.DirPostal
%p
  %b Cmnapostal:
  = @creditnote.CmnaPostal
%p
  %b Ciudadpostal:
  = @creditnote.CiudadPostal
%p
  %b Rutsolicita:
  = @creditnote.RUTSolicita
%p
  %b Rutchofer:
  = @creditnote.RUTChofer
%p
  %b Nombrechofer:
  = @creditnote.NombreChofer
%p
  %b Dirdest:
  = @creditnote.DirDest
%p
  %b Cmnadest:
  = @creditnote.CmnaDest
%p
  %b Ciudaddest:
  = @creditnote.CiudadDest
%p
  %b Mntneto:
  = @creditnote.MntNeto
%p
  %b Mntexe:
  = @creditnote.MntExe
%p
  %b Mntbase:
  = @creditnote.MntBase
%p
  %b Mntmargencom:
  = @creditnote.MntMargenCom
%p
  %b Tasaiva:
  = @creditnote.TasaIVA
%p
  %b Iva:
  = @creditnote.IVA
%p
  %b Ivaprop:
  = @creditnote.IVAProp
%p
  %b Ivaterc:
  = @creditnote.IVATerc
%p
  %b Tipoimp:
  = @creditnote.TipoImp
%p
  %b Tasaimp:
  = @creditnote.TasaImp
%p
  %b Montoimp:
  = @creditnote.MontoImp
%p
  %b Ivanoret:
  = @creditnote.IVANoRet
%p
  %b Credec:
  = @creditnote.CredEC
%p
  %b Grntdep:
  = @creditnote.GrntDep
%p
  %b Valcomneto:
  = @creditnote.ValComNeto
%p
  %b Valcomexe:
  = @creditnote.ValComExe
%p
  %b Valcomiva:
  = @creditnote.ValComIVA
%p
  %b Mnttotal:
  = @creditnote.MntTotal
%p
  %b Montonf:
  = @creditnote.MontoNF
%p
  %b Montoperiodo:
  = @creditnote.MontoPeriodo
%p
  %b Saldoanterior:
  = @creditnote.SaldoAnterior
%p
  %b Vlrpagar:
  = @creditnote.VlrPagar
%p
  %b Tpomoneda:
  = @creditnote.TpoMoneda
%p
  %b Tpocambio:
  = @creditnote.TpoCambio
%p
  %b Mntnetootrmnda:
  = @creditnote.MntNetoOtrMnda
%p
  %b Mntexeotrmnda:
  = @creditnote.MntExeOtrMnda
%p
  %b Mntfaecarneotrmnda:
  = @creditnote.MntFaeCarneOtrMnda
%p
  %b Mntmargcomotrmnda:
  = @creditnote.MntMargComOtrMnda
%p
  %b Ivaotrmnda:
  = @creditnote.IVAOtrMnda
%p
  %b Tipoimpotrmnda:
  = @creditnote.TipoImpOtrMnda
%p
  %b Tasaimpotrmnda:
  = @creditnote.TasaImpOtrMnda
%p
  %b Vlrimpotrmnda:
  = @creditnote.VlrImpOtrMnda
%p
  %b Ivanoretotrmnda:
  = @creditnote.IVANoRetOtrMnda
%p
  %b Mnttototrmnda:
  = @creditnote.MntTotOtrMnda
%p
  %b Nrosti:
  = @creditnote.NroSti
%p
  %b Glosasti:
  = @creditnote.GlosaSti
%p
  %b Ordensti:
  = @creditnote.OrdenSti
%p
  %b Subtotnetosti:
  = @creditnote.SubTotNetoSti
%p
  %b Subtotivasti:
  = @creditnote.SubTotIVASti
%p
  %b Subtotadicsti:
  = @creditnote.SubTotAdicSti
%p
  %b Subtotexesti:
  = @creditnote.SubTotExeSti
%p
  %b Valsubtotsti:
  = @creditnote.ValSubTotSti
%p
  %b Lineasdeta:
  = @creditnote.LineasDeta
%p
  %b Nrolindr:
  = @creditnote.NroLinDr
%p
  %b Tpomov:
  = @creditnote.TpoMov
%p
  %b Glosadr:
  = @creditnote.GlosaDr
%p
  %b Tpovalor:
  = @creditnote.TpoValor
%p
  %b Valordr:
  = @creditnote.ValorDr
%p
  %b Valordrotrmnda:
  = @creditnote.ValorDrOtrMnda
%p
  %b Indexedr:
  = @creditnote.IndExeDr
%p
  %b Nrolinref:
  = @creditnote.NroLinRef
%p
  %b Tpodocref:
  = @creditnote.TpoDocRef
%p
  %b Indglobal:
  = @creditnote.IndGlobal
%p
  %b Folioref:
  = @creditnote.FolioRef
%p
  %b Rutotr:
  = @creditnote.RUTOtr
%p
  %b Fchref:
  = @creditnote.FchRef
%p
  %b Codref:
  = @creditnote.CodRef
%p
  %b Razonref:
  = @creditnote.RazonRef
%p
  %b Nrolincom:
  = @creditnote.NroLinCom
%p
  %b Tipomovim:
  = @creditnote.TipoMovim
%p
  %b Glosa:
  = @creditnote.Glosa
%p
  %b Tasacomision:
  = @creditnote.TasaComision
%p
  %b Valcomneto:
  = @creditnote.ValComNeto
%p
  %b Valcomexe:
  = @creditnote.ValComExe
%p
  %b Valcomiva:
  = @creditnote.ValComIVA
%p
  %b X509certificate:
  = @creditnote.X509Certificate
%p
  %b Signaturevalue:
  = @creditnote.SignatureValue
%p
  %b Tmstfirma:
  = @creditnote.Tmstfirma

= link_to 'Edit', edit_creditnote_path(@creditnote)
\|
= link_to 'Back', creditnotes_path
