%h1 Listing invoices

%table
  %tr
    %th Version
    %th Tipodte
    %th Folio
    %th Fchemis
    %th Tipodespacho
    %th Indservicio
    %th Mntbruto
    %th Fmapago
    %th Fchcancel
    %th Mntcancel
    %th Saldoinsol
    %th Fchpago
    %th Mntpago
    %th Glosapagos
    %th Periododesde
    %th Periodohasta
    %th Mediopago
    %th Tipoctapago
    %th Numctapago
    %th Bcopago
    %th Termpagocdg
    %th Termpagoglosa
    %th Termpagodias
    %th Fchvenc
    %th Rutemisor
    %th Rznsoc
    %th Giroemis
    %th Telefono
    %th Correoemisor
    %th Acteco
    %th Sucursal
    %th Cdgsiisucur
    %th Dirorigen
    %th Cmnaorigen
    %th Ciudadorigen
    %th Cdgvendedor
    %th Rutmandante
    %th Rutreceptor
    %th Cdgintrecep
    %th Rznsocrecep
    %th Numid
    %th Nacionalidad
    %th Girorecep
    %th Contacto
    %th Correorecep
    %th Dirrecep
    %th Cmnarecep
    %th Ciudadrecep
    %th Dirpostal
    %th Cmnapostal
    %th Ciudadpostal
    %th Rutsolicita
    %th Patente
    %th Ruttrans
    %th Rutchofer
    %th Nombrechofer
    %th Dirdest
    %th Cmnadest
    %th Ciudaddest
    %th Mntneto
    %th Mntexe
    %th Mntbase
    %th Mntmargencom
    %th Tasaiva
    %th Iva
    %th Ivaprop
    %th Ivaterc
    %th Tipoimp
    %th Tasaimp
    %th Montoimp
    %th Credec
    %th Gmtdep
    %th Mnttotal
    %th Montonf
    %th Montoperiodo
    %th Saldoanterior
    %th Vlrpagar
    %th Tpomoneda
    %th Tpocambio
    %th Mntnetootrmnda
    %th Mntexeotrmnda
    %th Mntfaecarneotrmnda
    %th Mntmargcomotrmnda
    %th Ivaotrmnda
    %th Tipoimpotrmnda
    %th Tasaimpotrmnda
    %th Vlrimpotrmnda
    %th Mnttototrmnda
    %th Nrosti
    %th Integer
    %th Glosasti
    %th Text
    %th Ordensti
    %th Integer
    %th Subtotnetosti
    %th Float
    %th Subtotivasti
    %th Float
    %th Subtotadicsti
    %th Float
    %th Subtotexesti
    %th Float
    %th Valsubtotsti
    %th Float
    %th Lineasdeta
    %th Integer
    %th Nrolindr
    %th Tpomov
    %th Glosadr
    %th Tpovalor
    %th Valordr
    %th Valordrotrmnda
    %th Indexedr
    %th Nrolinref
    %th Tpodocref
    %th Indglobal
    %th Folioref
    %th Fchref
    %th Codref
    %th Razonref
    %th X509certificate
    %th Signaturevalue
    %th Tmstfirma
    %th
    %th
    %th

  - @invoices.each do |invoice|
    %tr
      %td= invoice.Version
      %td= invoice.TipoDte
      %td= invoice.Folio
      %td= invoice.FchEmis
      %td= invoice.TipoDespacho
      %td= invoice.IndServicio
      %td= invoice.MntBruto
      %td= invoice.FmaPago
      %td= invoice.FchCancel
      %td= invoice.MntCancel
      %td= invoice.SaldoInsol
      %td= invoice.FchPago
      %td= invoice.MntPago
      %td= invoice.GlosaPagos
      %td= invoice.PeriodoDesde
      %td= invoice.PeriodoHasta
      %td= invoice.MedioPago
      %td= invoice.TipoCtaPAgo
      %td= invoice.NumCtaPago
      %td= invoice.BcoPago
      %td= invoice.TermPagoCdg
      %td= invoice.TermPAgoGlosa
      %td= invoice.TermPagoDias
      %td= invoice.FchVenc
      %td= invoice.RUTEmisor
      %td= invoice.RznSoc
      %td= invoice.GiroEmis
      %td= invoice.Telefono
      %td= invoice.CorreoEmisor
      %td= invoice.Acteco
      %td= invoice.Sucursal
      %td= invoice.CdgSIISucur
      %td= invoice.DirOrigen
      %td= invoice.CmnaOrigen
      %td= invoice.CiudadOrigen
      %td= invoice.CdgVendedor
      %td= invoice.RutMandante
      %td= invoice.RUTReceptor
      %td= invoice.CdgIntRecep
      %td= invoice.RznSocRecep
      %td= invoice.NumId
      %td= invoice.Nacionalidad
      %td= invoice.GiroRecep
      %td= invoice.Contacto
      %td= invoice.CorreoRecep
      %td= invoice.DirRecep
      %td= invoice.CmnaRecep
      %td= invoice.CiudadRecep
      %td= invoice.DirPostal
      %td= invoice.CmnaPostal
      %td= invoice.CiudadPostal
      %td= invoice.RUTSolicita
      %td= invoice.Patente
      %td= invoice.RUTTRans
      %td= invoice.RUTChofer
      %td= invoice.NombreChofer
      %td= invoice.DirDest
      %td= invoice.CmnaDest
      %td= invoice.CiudadDest
      %td= invoice.MntNeto
      %td= invoice.MntExe
      %td= invoice.MntBase
      %td= invoice.MntMargenCom
      %td= invoice.TasaIVA
      %td= invoice.IVA
      %td= invoice.IVAProp
      %td= invoice.IVATerc
      %td= invoice.TipoImp
      %td= invoice.TasaImp
      %td= invoice.MontoImp
      %td= invoice.CredEC
      %td= invoice.GmtDep
      %td= invoice.MntTotal
      %td= invoice.MontoNF
      %td= invoice.MontoPeriodo
      %td= invoice.SaldoAnterior
      %td= invoice.VlrPagar
      %td= invoice.TpoMoneda
      %td= invoice.TpoCambio
      %td= invoice.MntNetoOtrMnda
      %td= invoice.MntExeOtrMnda
      %td= invoice.MntFaeCarneOtrMnda
      %td= invoice.MntMargComOtrMnda
      %td= invoice.IVAOtrMnda
      %td= invoice.TipoImpOtrMnda
      %td= invoice.TasaImpOtrMnda
      %td= invoice.VlrImpOtrMnda
      %td= invoice.MntTotOtrMnda
      %td= invoice.NroSti
      %td= invoice.integer
      %td= invoice.GlosaSti
      %td= invoice.text
      %td= invoice.OrdenSti
      %td= invoice.integer
      %td= invoice.SubTotNetoSti
      %td= invoice.float
      %td= invoice.SubTotIVASti
      %td= invoice.float
      %td= invoice.SubTotAdicSti
      %td= invoice.float
      %td= invoice.SubTotExeSti
      %td= invoice.float
      %td= invoice.ValSubTotSti
      %td= invoice.float
      %td= invoice.LineasDeta
      %td= invoice.integer
      %td= invoice.NroLinDr
      %td= invoice.TpoMov
      %td= invoice.GlosaDr
      %td= invoice.TpoValor
      %td= invoice.ValorDr
      %td= invoice.ValorDrOtrMnda
      %td= invoice.IndExeDr
      %td= invoice.NroLinRef
      %td= invoice.TpoDocRef
      %td= invoice.IndGlobal
      %td= invoice.FolioRef
      %td= invoice.FchRef
      %td= invoice.CodRef
      %td= invoice.RazonRef
      %td= invoice.X509Certificate
      %td= invoice.SignatureValue
      %td= invoice.Tmstfirma
      %td= link_to 'Show', invoice
      %td= link_to 'Edit', edit_invoice_path(invoice)
      %td= link_to 'Destroy', invoice, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Invoice', new_invoice_path
