%p#notice= notice

%p
  %b Version:
  = @invoice.Version
%p
  %b Tipodte:
  = @invoice.TipoDte
%p
  %b Folio:
  = @invoice.Folio
%p
  %b Fchemis:
  = @invoice.FchEmis
%p
  %b Tipodespacho:
  = @invoice.TipoDespacho
%p
  %b Indservicio:
  = @invoice.IndServicio
%p
  %b Mntbruto:
  = @invoice.MntBruto
%p
  %b Fmapago:
  = @invoice.FmaPago
%p
  %b Fchcancel:
  = @invoice.FchCancel
%p
  %b Mntcancel:
  = @invoice.MntCancel
%p
  %b Saldoinsol:
  = @invoice.SaldoInsol
%p
  %b Fchpago:
  = @invoice.FchPago
%p
  %b Mntpago:
  = @invoice.MntPago
%p
  %b Glosapagos:
  = @invoice.GlosaPagos
%p
  %b Periododesde:
  = @invoice.PeriodoDesde
%p
  %b Periodohasta:
  = @invoice.PeriodoHasta
%p
  %b Mediopago:
  = @invoice.MedioPago
%p
  %b Tipoctapago:
  = @invoice.TipoCtaPAgo
%p
  %b Numctapago:
  = @invoice.NumCtaPago
%p
  %b Bcopago:
  = @invoice.BcoPago
%p
  %b Termpagocdg:
  = @invoice.TermPagoCdg
%p
  %b Termpagoglosa:
  = @invoice.TermPAgoGlosa
%p
  %b Termpagodias:
  = @invoice.TermPagoDias
%p
  %b Fchvenc:
  = @invoice.FchVenc
%p
  %b Rutemisor:
  = @invoice.RUTEmisor
%p
  %b Rznsoc:
  = @invoice.RznSoc
%p
  %b Giroemis:
  = @invoice.GiroEmis
%p
  %b Telefono:
  = @invoice.Telefono
%p
  %b Correoemisor:
  = @invoice.CorreoEmisor
%p
  %b Acteco:
  = @invoice.Acteco
%p
  %b Sucursal:
  = @invoice.Sucursal
%p
  %b Cdgsiisucur:
  = @invoice.CdgSIISucur
%p
  %b Dirorigen:
  = @invoice.DirOrigen
%p
  %b Cmnaorigen:
  = @invoice.CmnaOrigen
%p
  %b Ciudadorigen:
  = @invoice.CiudadOrigen
%p
  %b Cdgvendedor:
  = @invoice.CdgVendedor
%p
  %b Rutmandante:
  = @invoice.RutMandante
%p
  %b Rutreceptor:
  = @invoice.RUTReceptor
%p
  %b Cdgintrecep:
  = @invoice.CdgIntRecep
%p
  %b Rznsocrecep:
  = @invoice.RznSocRecep
%p
  %b Numid:
  = @invoice.NumId
%p
  %b Nacionalidad:
  = @invoice.Nacionalidad
%p
  %b Girorecep:
  = @invoice.GiroRecep
%p
  %b Contacto:
  = @invoice.Contacto
%p
  %b Correorecep:
  = @invoice.CorreoRecep
%p
  %b Dirrecep:
  = @invoice.DirRecep
%p
  %b Cmnarecep:
  = @invoice.CmnaRecep
%p
  %b Ciudadrecep:
  = @invoice.CiudadRecep
%p
  %b Dirpostal:
  = @invoice.DirPostal
%p
  %b Cmnapostal:
  = @invoice.CmnaPostal
%p
  %b Ciudadpostal:
  = @invoice.CiudadPostal
%p
  %b Rutsolicita:
  = @invoice.RUTSolicita
%p
  %b Patente:
  = @invoice.Patente
%p
  %b Ruttrans:
  = @invoice.RUTTRans
%p
  %b Rutchofer:
  = @invoice.RUTChofer
%p
  %b Nombrechofer:
  = @invoice.NombreChofer
%p
  %b Dirdest:
  = @invoice.DirDest
%p
  %b Cmnadest:
  = @invoice.CmnaDest
%p
  %b Ciudaddest:
  = @invoice.CiudadDest
%p
  %b Mntneto:
  = @invoice.MntNeto
%p
  %b Mntexe:
  = @invoice.MntExe
%p
  %b Mntbase:
  = @invoice.MntBase
%p
  %b Mntmargencom:
  = @invoice.MntMargenCom
%p
  %b Tasaiva:
  = @invoice.TasaIVA
%p
  %b Iva:
  = @invoice.IVA
%p
  %b Ivaprop:
  = @invoice.IVAProp
%p
  %b Ivaterc:
  = @invoice.IVATerc
%p
  %b Tipoimp:
  = @invoice.TipoImp
%p
  %b Tasaimp:
  = @invoice.TasaImp
%p
  %b Montoimp:
  = @invoice.MontoImp
%p
  %b Credec:
  = @invoice.CredEC
%p
  %b Gmtdep:
  = @invoice.GmtDep
%p
  %b Mnttotal:
  = @invoice.MntTotal
%p
  %b Montonf:
  = @invoice.MontoNF
%p
  %b Montoperiodo:
  = @invoice.MontoPeriodo
%p
  %b Saldoanterior:
  = @invoice.SaldoAnterior
%p
  %b Vlrpagar:
  = @invoice.VlrPagar
%p
  %b Tpomoneda:
  = @invoice.TpoMoneda
%p
  %b Tpocambio:
  = @invoice.TpoCambio
%p
  %b Mntnetootrmnda:
  = @invoice.MntNetoOtrMnda
%p
  %b Mntexeotrmnda:
  = @invoice.MntExeOtrMnda
%p
  %b Mntfaecarneotrmnda:
  = @invoice.MntFaeCarneOtrMnda
%p
  %b Mntmargcomotrmnda:
  = @invoice.MntMargComOtrMnda
%p
  %b Ivaotrmnda:
  = @invoice.IVAOtrMnda
%p
  %b Tipoimpotrmnda:
  = @invoice.TipoImpOtrMnda
%p
  %b Tasaimpotrmnda:
  = @invoice.TasaImpOtrMnda
%p
  %b Vlrimpotrmnda:
  = @invoice.VlrImpOtrMnda
%p
  %b Mnttototrmnda:
  = @invoice.MntTotOtrMnda
%p
  %b Nrosti:
  = @invoice.NroSti
%p
  %b Integer:
  = @invoice.integer
%p
  %b Glosasti:
  = @invoice.GlosaSti
%p
  %b Text:
  = @invoice.text
%p
  %b Ordensti:
  = @invoice.OrdenSti
%p
  %b Integer:
  = @invoice.integer
%p
  %b Subtotnetosti:
  = @invoice.SubTotNetoSti
%p
  %b Float:
  = @invoice.float
%p
  %b Subtotivasti:
  = @invoice.SubTotIVASti
%p
  %b Float:
  = @invoice.float
%p
  %b Subtotadicsti:
  = @invoice.SubTotAdicSti
%p
  %b Float:
  = @invoice.float
%p
  %b Subtotexesti:
  = @invoice.SubTotExeSti
%p
  %b Float:
  = @invoice.float
%p
  %b Valsubtotsti:
  = @invoice.ValSubTotSti
%p
  %b Float:
  = @invoice.float
%p
  %b Lineasdeta:
  = @invoice.LineasDeta
%p
  %b Integer:
  = @invoice.integer
%p
  %b Nrolindr:
  = @invoice.NroLinDr
%p
  %b Tpomov:
  = @invoice.TpoMov
%p
  %b Glosadr:
  = @invoice.GlosaDr
%p
  %b Tpovalor:
  = @invoice.TpoValor
%p
  %b Valordr:
  = @invoice.ValorDr
%p
  %b Valordrotrmnda:
  = @invoice.ValorDrOtrMnda
%p
  %b Indexedr:
  = @invoice.IndExeDr
%p
  %b Nrolinref:
  = @invoice.NroLinRef
%p
  %b Tpodocref:
  = @invoice.TpoDocRef
%p
  %b Indglobal:
  = @invoice.IndGlobal
%p
  %b Folioref:
  = @invoice.FolioRef
%p
  %b Fchref:
  = @invoice.FchRef
%p
  %b Codref:
  = @invoice.CodRef
%p
  %b Razonref:
  = @invoice.RazonRef
%p
  %b X509certificate:
  = @invoice.X509Certificate
%p
  %b Signaturevalue:
  = @invoice.SignatureValue
%p
  %b Tmstfirma:
  = @invoice.Tmstfirma

= link_to 'Edit', edit_invoice_path(@invoice)
\|
= link_to 'Back', invoices_path
