%h1 Listing monto_pagos

%table
  %tr
    %th Fchpago
    %th Mntpago
    %th Documento
    %th
    %th
    %th

  - @monto_pagos.each do |monto_pago|
    %tr
      %td= monto_pago.FchPago
      %td= monto_pago.MntPago
      %td= monto_pago.documento
      %td= link_to 'Show', monto_pago
      %td= link_to 'Edit', edit_monto_pago_path(monto_pago)
      %td= link_to 'Destroy', monto_pago, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Monto pago', new_monto_pago_path
