%h1 Listing facturas

%table
  %tr
    %th Version
    %th Tipodte
    %th Folio
    %th Fchemis
    %th Tipodespacho
    %th Indservicio
    %th Mntbruto
    %th Fmapago
    %th Fchcancel
    %th Mntcancel
    %th Saldoinsol
    %th Fchpago
    %th Mntpago
    %th Glosapagos
    %th Periododesde
    %th Periodohasta
    %th Mediopago
    %th Tipoctapago
    %th Numctapago
    %th Bcopago
    %th Termpagocdg
    %th Termpagoglosa
    %th Termpagodias
    %th Fchvenc
    %th Rutemisor
    %th Rznsoc
    %th Giroemis
    %th Telefono
    %th Correoemisor
    %th Acteco
    %th Sucursal
    %th Cdgsiisucur
    %th Dirorigen
    %th Cmnaorigen
    %th Ciudadorigen
    %th Cdgvendedor
    %th Rutmandante
    %th Rutreceptor
    %th Cdgintrecep
    %th Rznsocrecep
    %th Numid
    %th Nacionalidad
    %th Girorecep
    %th Contacto
    %th Correorecep
    %th Dirrecep
    %th Cmnarecep
    %th Ciudadrecep
    %th Dirpostal
    %th Cmnapostal
    %th Ciudadpostal
    %th Rutsolicita
    %th Patente
    %th Ruttrans
    %th Rutchofer
    %th Nombrechofer
    %th Dirdest
    %th Cmnadest
    %th Ciudaddest
    %th Mntneto
    %th Mntexe
    %th Mntbase
    %th Mntmargencom
    %th Tasaiva
    %th Iva
    %th Ivaprop
    %th Ivaterc
    %th Tipoimp
    %th Tasaimp
    %th Montoimp
    %th Credec
    %th Gmtdep
    %th Mnttotal
    %th Montonf
    %th Montoperiodo
    %th Saldoanterior
    %th Vlrpagar
    %th Tpomoneda
    %th Tpocambio
    %th Mntnetootrmnda
    %th Mntexeotrmnda
    %th Mntfaecarneotrmnda
    %th Mntmargcomotrmnda
    %th Ivaotrmnda
    %th Tipoimpotrmnda
    %th Tasaimpotrmnda
    %th Vlrimpotrmnda
    %th Mnttototrmnda
    %th Nrosti
    %th Integer
    %th Glosasti
    %th Text
    %th Ordensti
    %th Integer
    %th Subtotnetosti
    %th Float
    %th Subtotivasti
    %th Float
    %th Subtotadicsti
    %th Float
    %th Subtotexesti
    %th Float
    %th Valsubtotsti
    %th Float
    %th Lineasdeta
    %th Integer
    %th Nrolindr
    %th Tpomov
    %th Glosadr
    %th Tpovalor
    %th Valordr
    %th Valordrotrmnda
    %th Indexedr
    %th Nrolinref
    %th Tpodocref
    %th Indglobal
    %th Folioref
    %th Fchref
    %th Codref
    %th Razonref
    %th X509certificate
    %th Signaturevalue
    %th Tmstfirma
    %th
    %th
    %th

  - @facturas.each do |factura|
    %tr
      %td= factura.Version
      %td= factura.TipoDte
      %td= factura.Folio
      %td= factura.FchEmis
      %td= factura.TipoDespacho
      %td= factura.IndServicio
      %td= factura.MntBruto
      %td= factura.FmaPago
      %td= factura.FchCancel
      %td= factura.MntCancel
      %td= factura.SaldoInsol
      %td= factura.FchPago
      %td= factura.MntPago
      %td= factura.GlosaPagos
      %td= factura.PeriodoDesde
      %td= factura.PeriodoHasta
      %td= factura.MedioPago
      %td= factura.TipoCtaPAgo
      %td= factura.NumCtaPago
      %td= factura.BcoPago
      %td= factura.TermPagoCdg
      %td= factura.TermPAgoGlosa
      %td= factura.TermPagoDias
      %td= factura.FchVenc
      %td= factura.RUTEmisor
      %td= factura.RznSoc
      %td= factura.GiroEmis
      %td= factura.Telefono
      %td= factura.CorreoEmisor
      %td= factura.Acteco
      %td= factura.Sucursal
      %td= factura.CdgSIISucur
      %td= factura.DirOrigen
      %td= factura.CmnaOrigen
      %td= factura.CiudadOrigen
      %td= factura.CdgVendedor
      %td= factura.RutMandante
      %td= factura.RUTReceptor
      %td= factura.CdgIntRecep
      %td= factura.RznSocRecep
      %td= factura.NumId
      %td= factura.Nacionalidad
      %td= factura.GiroRecep
      %td= factura.Contacto
      %td= factura.CorreoRecep
      %td= factura.DirRecep
      %td= factura.CmnaRecep
      %td= factura.CiudadRecep
      %td= factura.DirPostal
      %td= factura.CmnaPostal
      %td= factura.CiudadPostal
      %td= factura.RUTSolicita
      %td= factura.Patente
      %td= factura.RUTTRans
      %td= factura.RUTChofer
      %td= factura.NombreChofer
      %td= factura.DirDest
      %td= factura.CmnaDest
      %td= factura.CiudadDest
      %td= factura.MntNeto
      %td= factura.MntExe
      %td= factura.MntBase
      %td= factura.MntMargenCom
      %td= factura.TasaIVA
      %td= factura.IVA
      %td= factura.IVAProp
      %td= factura.IVATerc
      %td= factura.TipoImp
      %td= factura.TasaImp
      %td= factura.MontoImp
      %td= factura.CredEC
      %td= factura.GmtDep
      %td= factura.MntTotal
      %td= factura.MontoNF
      %td= factura.MontoPeriodo
      %td= factura.SaldoAnterior
      %td= factura.VlrPagar
      %td= factura.TpoMoneda
      %td= factura.TpoCambio
      %td= factura.MntNetoOtrMnda
      %td= factura.MntExeOtrMnda
      %td= factura.MntFaeCarneOtrMnda
      %td= factura.MntMargComOtrMnda
      %td= factura.IVAOtrMnda
      %td= factura.TipoImpOtrMnda
      %td= factura.TasaImpOtrMnda
      %td= factura.VlrImpOtrMnda
      %td= factura.MntTotOtrMnda
      %td= factura.NroSti
      %td= factura.integer
      %td= factura.GlosaSti
      %td= factura.text
      %td= factura.OrdenSti
      %td= factura.integer
      %td= factura.SubTotNetoSti
      %td= factura.float
      %td= factura.SubTotIVASti
      %td= factura.float
      %td= factura.SubTotAdicSti
      %td= factura.float
      %td= factura.SubTotExeSti
      %td= factura.float
      %td= factura.ValSubTotSti
      %td= factura.float
      %td= factura.LineasDeta
      %td= factura.integer
      %td= factura.NroLinDr
      %td= factura.TpoMov
      %td= factura.GlosaDr
      %td= factura.TpoValor
      %td= factura.ValorDr
      %td= factura.ValorDrOtrMnda
      %td= factura.IndExeDr
      %td= factura.NroLinRef
      %td= factura.TpoDocRef
      %td= factura.IndGlobal
      %td= factura.FolioRef
      %td= factura.FchRef
      %td= factura.CodRef
      %td= factura.RazonRef
      %td= factura.X509Certificate
      %td= factura.SignatureValue
      %td= factura.Tmstfirma
      %td= link_to 'Show', factura
      %td= link_to 'Edit', edit_factura_path(factura)
      %td= link_to 'Destroy', factura, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Factura', new_factura_path
