%p#notice= notice

%p
  %b Version:
  = @factura.Version
%p
  %b Tipodte:
  = @factura.TipoDte
%p
  %b Folio:
  = @factura.Folio
%p
  %b Fchemis:
  = @factura.FchEmis
%p
  %b Tipodespacho:
  = @factura.TipoDespacho
%p
  %b Indservicio:
  = @factura.IndServicio
%p
  %b Mntbruto:
  = @factura.MntBruto
%p
  %b Fmapago:
  = @factura.FmaPago
%p
  %b Fchcancel:
  = @factura.FchCancel
%p
  %b Mntcancel:
  = @factura.MntCancel
%p
  %b Saldoinsol:
  = @factura.SaldoInsol
%p
  %b Fchpago:
  = @factura.FchPago
%p
  %b Mntpago:
  = @factura.MntPago
%p
  %b Glosapagos:
  = @factura.GlosaPagos
%p
  %b Periododesde:
  = @factura.PeriodoDesde
%p
  %b Periodohasta:
  = @factura.PeriodoHasta
%p
  %b Mediopago:
  = @factura.MedioPago
%p
  %b Tipoctapago:
  = @factura.TipoCtaPAgo
%p
  %b Numctapago:
  = @factura.NumCtaPago
%p
  %b Bcopago:
  = @factura.BcoPago
%p
  %b Termpagocdg:
  = @factura.TermPagoCdg
%p
  %b Termpagoglosa:
  = @factura.TermPAgoGlosa
%p
  %b Termpagodias:
  = @factura.TermPagoDias
%p
  %b Fchvenc:
  = @factura.FchVenc
%p
  %b Rutemisor:
  = @factura.RUTEmisor
%p
  %b Rznsoc:
  = @factura.RznSoc
%p
  %b Giroemis:
  = @factura.GiroEmis
%p
  %b Telefono:
  = @factura.Telefono
%p
  %b Correoemisor:
  = @factura.CorreoEmisor
%p
  %b Acteco:
  = @factura.Acteco
%p
  %b Sucursal:
  = @factura.Sucursal
%p
  %b Cdgsiisucur:
  = @factura.CdgSIISucur
%p
  %b Dirorigen:
  = @factura.DirOrigen
%p
  %b Cmnaorigen:
  = @factura.CmnaOrigen
%p
  %b Ciudadorigen:
  = @factura.CiudadOrigen
%p
  %b Cdgvendedor:
  = @factura.CdgVendedor
%p
  %b Rutmandante:
  = @factura.RutMandante
%p
  %b Rutreceptor:
  = @factura.RUTReceptor
%p
  %b Cdgintrecep:
  = @factura.CdgIntRecep
%p
  %b Rznsocrecep:
  = @factura.RznSocRecep
%p
  %b Numid:
  = @factura.NumId
%p
  %b Nacionalidad:
  = @factura.Nacionalidad
%p
  %b Girorecep:
  = @factura.GiroRecep
%p
  %b Contacto:
  = @factura.Contacto
%p
  %b Correorecep:
  = @factura.CorreoRecep
%p
  %b Dirrecep:
  = @factura.DirRecep
%p
  %b Cmnarecep:
  = @factura.CmnaRecep
%p
  %b Ciudadrecep:
  = @factura.CiudadRecep
%p
  %b Dirpostal:
  = @factura.DirPostal
%p
  %b Cmnapostal:
  = @factura.CmnaPostal
%p
  %b Ciudadpostal:
  = @factura.CiudadPostal
%p
  %b Rutsolicita:
  = @factura.RUTSolicita
%p
  %b Patente:
  = @factura.Patente
%p
  %b Ruttrans:
  = @factura.RUTTRans
%p
  %b Rutchofer:
  = @factura.RUTChofer
%p
  %b Nombrechofer:
  = @factura.NombreChofer
%p
  %b Dirdest:
  = @factura.DirDest
%p
  %b Cmnadest:
  = @factura.CmnaDest
%p
  %b Ciudaddest:
  = @factura.CiudadDest
%p
  %b Mntneto:
  = @factura.MntNeto
%p
  %b Mntexe:
  = @factura.MntExe
%p
  %b Mntbase:
  = @factura.MntBase
%p
  %b Mntmargencom:
  = @factura.MntMargenCom
%p
  %b Tasaiva:
  = @factura.TasaIVA
%p
  %b Iva:
  = @factura.IVA
%p
  %b Ivaprop:
  = @factura.IVAProp
%p
  %b Ivaterc:
  = @factura.IVATerc
%p
  %b Tipoimp:
  = @factura.TipoImp
%p
  %b Tasaimp:
  = @factura.TasaImp
%p
  %b Montoimp:
  = @factura.MontoImp
%p
  %b Credec:
  = @factura.CredEC
%p
  %b Gmtdep:
  = @factura.GmtDep
%p
  %b Mnttotal:
  = @factura.MntTotal
%p
  %b Montonf:
  = @factura.MontoNF
%p
  %b Montoperiodo:
  = @factura.MontoPeriodo
%p
  %b Saldoanterior:
  = @factura.SaldoAnterior
%p
  %b Vlrpagar:
  = @factura.VlrPagar
%p
  %b Tpomoneda:
  = @factura.TpoMoneda
%p
  %b Tpocambio:
  = @factura.TpoCambio
%p
  %b Mntnetootrmnda:
  = @factura.MntNetoOtrMnda
%p
  %b Mntexeotrmnda:
  = @factura.MntExeOtrMnda
%p
  %b Mntfaecarneotrmnda:
  = @factura.MntFaeCarneOtrMnda
%p
  %b Mntmargcomotrmnda:
  = @factura.MntMargComOtrMnda
%p
  %b Ivaotrmnda:
  = @factura.IVAOtrMnda
%p
  %b Tipoimpotrmnda:
  = @factura.TipoImpOtrMnda
%p
  %b Tasaimpotrmnda:
  = @factura.TasaImpOtrMnda
%p
  %b Vlrimpotrmnda:
  = @factura.VlrImpOtrMnda
%p
  %b Mnttototrmnda:
  = @factura.MntTotOtrMnda
%p
  %b Nrosti:
  = @factura.NroSti
%p
  %b Integer:
  = @factura.integer
%p
  %b Glosasti:
  = @factura.GlosaSti
%p
  %b Text:
  = @factura.text
%p
  %b Ordensti:
  = @factura.OrdenSti
%p
  %b Integer:
  = @factura.integer
%p
  %b Subtotnetosti:
  = @factura.SubTotNetoSti
%p
  %b Float:
  = @factura.float
%p
  %b Subtotivasti:
  = @factura.SubTotIVASti
%p
  %b Float:
  = @factura.float
%p
  %b Subtotadicsti:
  = @factura.SubTotAdicSti
%p
  %b Float:
  = @factura.float
%p
  %b Subtotexesti:
  = @factura.SubTotExeSti
%p
  %b Float:
  = @factura.float
%p
  %b Valsubtotsti:
  = @factura.ValSubTotSti
%p
  %b Float:
  = @factura.float
%p
  %b Lineasdeta:
  = @factura.LineasDeta
%p
  %b Integer:
  = @factura.integer
%p
  %b Nrolindr:
  = @factura.NroLinDr
%p
  %b Tpomov:
  = @factura.TpoMov
%p
  %b Glosadr:
  = @factura.GlosaDr
%p
  %b Tpovalor:
  = @factura.TpoValor
%p
  %b Valordr:
  = @factura.ValorDr
%p
  %b Valordrotrmnda:
  = @factura.ValorDrOtrMnda
%p
  %b Indexedr:
  = @factura.IndExeDr
%p
  %b Nrolinref:
  = @factura.NroLinRef
%p
  %b Tpodocref:
  = @factura.TpoDocRef
%p
  %b Indglobal:
  = @factura.IndGlobal
%p
  %b Folioref:
  = @factura.FolioRef
%p
  %b Fchref:
  = @factura.FchRef
%p
  %b Codref:
  = @factura.CodRef
%p
  %b Razonref:
  = @factura.RazonRef
%p
  %b X509certificate:
  = @factura.X509Certificate
%p
  %b Signaturevalue:
  = @factura.SignatureValue
%p
  %b Tmstfirma:
  = @factura.Tmstfirma

= link_to 'Edit', edit_factura_path(@factura)
\|
= link_to 'Back', facturas_path
