%p#notice= notice

%p
  %b Tipodoc:
  = @compmanual.tipodoc
%p
  %b Folio:
  = @compmanual.folio
%p
  %b Fchemis:
  = @compmanual.fchemis
%p
  %b Rutemisor:
  = @compmanual.rutemisor
%p
  %b Rutrecep:
  = @compmanual.rutrecep
%p
  %b Rznsoemisor:
  = @compmanual.rznsoemisor
%p
  %b Mntneto:
  = @compmanual.mntneto
%p
  %b Mntexe:
  = @compmanual.mntexe
%p
  %b Mntiva:
  = @compmanual.mntiva
%p
  %b Otrosimpto:
  = @compmanual.otrosimpto
%p
  %b Mnttotal:
  = @compmanual.mnttotal
%p
  %b Impto18:
  = @compmanual.impto18
%p
  %b Impto10:
  = @compmanual.impto10
%p
  %b Impto25:
  = @compmanual.impto25
%p
  %b Impto30:
  = @compmanual.impto30
%p
  %b Estado:
  = @compmanual.estado

= link_to 'Edit', edit_compmanual_path(@compmanual)
\|
= link_to 'Back', compmanuals_path
