= simple_form_for(@mnt_pago) do |f|
  = f.error_notification

  .form-inputs
    = f.input :FchPago
    = f.input :string
    = f.input :MntPago
    = f.input :integer
    = f.association :documento

  .form-actions
    = f.button :submit
