%h2 Resumen Libro de Compras
%br
%h3 Documentos Electronicos
%p.text-danger Facturas no incluidas en libros anteriores.

= form_tag "/buscarLibroCompra" do
  = field_set_tag do
    = label_tag :empresa, 'Empresa:'
    = select_tag "empresa", options_from_collection_for_select(@empresas, "rut", "rznsocial")

    = label_tag :Mes, 'Mes:'
    = month_field_tag "Mes", value = DateTime.now , options = {} 
  
    = submit_tag 'Buscar'
%br
%br
%br
%h3= @empresa 
%h4= @fecha   


=link_to "Generar Libro de Compras", :controller => "libro_compra", :action => "generalibro" , :rut => @rut, :mes => @fecha
