= simple_form_for(@detallefactura) do |f|
  = f.error_notification

  .form-inputs
    = f.input :NroLinDet
    = f.input :TipoCodigo
    = f.input :VlrCodigo
    = f.input :IndExe
    = f.input :IndAgente
    = f.input :MntBaseFaena
    = f.input :MntMargComer
    = f.input :PrcConsFinal
    = f.input :NmbItem
    = f.input :DscItem
    = f.input :QtyRef
    = f.input :UnmdRef
    = f.input :PrcRef
    = f.input :QtyItem
    = f.input :SubQty
    = f.input :FchElabor
    = f.input :FchVencim
    = f.input :UnmdItem
    = f.input :PrcItem
    = f.input :PrcOtrMon
    = f.input :Moneda
    = f.input :FctConv
    = f.input :DctoOtrMnda
    = f.input :RecargoOtrMnda
    = f.input :MontoItemOtrMnda
    = f.input :DescuentoPct
    = f.input :DescuentoMonto
    = f.input :TipoDscto
    = f.input :ValorDscto
    = f.input :RecargoPct
    = f.input :RecargoMonto
    = f.input :TipoRecargo
    = f.input :ValorRecargo
    = f.input :CodImpAdic
    = f.input :MontoItem
    = f.association :factura

  .form-actions
    = f.button :submit
