%p#notice= notice

%p
  %b Nrolindet:
  = @detallefactura.NroLinDet
%p
  %b Tipocodigo:
  = @detallefactura.TipoCodigo
%p
  %b Vlrcodigo:
  = @detallefactura.VlrCodigo
%p
  %b Indexe:
  = @detallefactura.IndExe
%p
  %b Indagente:
  = @detallefactura.IndAgente
%p
  %b Mntbasefaena:
  = @detallefactura.MntBaseFaena
%p
  %b Mntmargcomer:
  = @detallefactura.MntMargComer
%p
  %b Prcconsfinal:
  = @detallefactura.PrcConsFinal
%p
  %b Nmbitem:
  = @detallefactura.NmbItem
%p
  %b Dscitem:
  = @detallefactura.DscItem
%p
  %b Qtyref:
  = @detallefactura.QtyRef
%p
  %b Unmdref:
  = @detallefactura.UnmdRef
%p
  %b Prcref:
  = @detallefactura.PrcRef
%p
  %b Qtyitem:
  = @detallefactura.QtyItem
%p
  %b Subqty:
  = @detallefactura.SubQty
%p
  %b Fchelabor:
  = @detallefactura.FchElabor
%p
  %b Fchvencim:
  = @detallefactura.FchVencim
%p
  %b Unmditem:
  = @detallefactura.UnmdItem
%p
  %b Prcitem:
  = @detallefactura.PrcItem
%p
  %b Prcotrmon:
  = @detallefactura.PrcOtrMon
%p
  %b Moneda:
  = @detallefactura.Moneda
%p
  %b Fctconv:
  = @detallefactura.FctConv
%p
  %b Dctootrmnda:
  = @detallefactura.DctoOtrMnda
%p
  %b Recargootrmnda:
  = @detallefactura.RecargoOtrMnda
%p
  %b Montoitemotrmnda:
  = @detallefactura.MontoItemOtrMnda
%p
  %b Descuentopct:
  = @detallefactura.DescuentoPct
%p
  %b Descuentomonto:
  = @detallefactura.DescuentoMonto
%p
  %b Tipodscto:
  = @detallefactura.TipoDscto
%p
  %b Valordscto:
  = @detallefactura.ValorDscto
%p
  %b Recargopct:
  = @detallefactura.RecargoPct
%p
  %b Recargomonto:
  = @detallefactura.RecargoMonto
%p
  %b Tiporecargo:
  = @detallefactura.TipoRecargo
%p
  %b Valorrecargo:
  = @detallefactura.ValorRecargo
%p
  %b Codimpadic:
  = @detallefactura.CodImpAdic
%p
  %b Montoitem:
  = @detallefactura.MontoItem
%p
  %b Factura:
  = @detallefactura.factura

= link_to 'Edit', edit_detallefactura_path(@detallefactura)
\|
= link_to 'Back', detallefacturas_path
