%p#notice= notice

%p
  %b Nrolindet:
  = @detcompra.NroLinDet
%p
  %b Tpocodigo:
  = @detcompra.TpoCodigo
%p
  %b Vlrcodigo:
  = @detcompra.VlrCodigo
%p
  %b Tpodocliq:
  = @detcompra.TpoDocLiq
%p
  %b Indexe:
  = @detcompra.IndExe
%p
  %b Indagente:
  = @detcompra.IndAgente
%p
  %b Mntbasefaena:
  = @detcompra.MntBaseFaena
%p
  %b Mntmargcomer:
  = @detcompra.MntMargComer
%p
  %b Prcconsfinal:
  = @detcompra.PrcConsFinal
%p
  %b Nmbitem:
  = @detcompra.NmbItem
%p
  %b Dscitem:
  = @detcompra.DscItem
%p
  %b Qtyref:
  = @detcompra.QtyRef
%p
  %b Unmdref:
  = @detcompra.UnmdRef
%p
  %b Prcref:
  = @detcompra.PrcRef
%p
  %b Qtyitem:
  = @detcompra.QtyItem
%p
  %b Fchelabor:
  = @detcompra.FchElabor
%p
  %b Fchvencim:
  = @detcompra.FchVencim
%p
  %b Unmditem:
  = @detcompra.UnmdItem
%p
  %b Prcitem:
  = @detcompra.PrcItem
%p
  %b Descuentopct:
  = @detcompra.DescuentoPct
%p
  %b Descuentomonto:
  = @detcompra.DescuentoMonto
%p
  %b Codimpadic:
  = @detcompra.CodImpAdic
%p
  %b Montoitem:
  = @detcompra.MontoItem
%p
  %b Doccompra:
  = @detcompra.doccompra

= link_to 'Edit', edit_detcompra_path(@detcompra)
\|
= link_to 'Back', detcompras_path
