%h1 Listing invoicedetails

%table
  %tr
    %th Nrolindet
    %th Tpocodigo
    %th Vlrcodigo
    %th Indexe
    %th Indagente
    %th Mntbasefaena
    %th Mntmargcomer
    %th Prcconsfinal
    %th Nmbitem
    %th Dscitem
    %th Qtyref
    %th Unmdref
    %th Prcref
    %th Qtyitem
    %th Subqty
    %th Fchelabor
    %th Fchvencim
    %th Unmditem
    %th Prcitem
    %th Prcotrmon
    %th Moneda
    %th Fctconv
    %th Dctootrmnda
    %th Recargootrmnda
    %th Montoitemotrmnda
    %th Descuentopct
    %th Descuentomonto
    %th Tipodscto
    %th Valordscto
    %th Recargopct
    %th Recargomonto
    %th Tiporecargo
    %th Valorrecargo
    %th Codimpadic
    %th Montoitem
    %th Invoice
    %th
    %th
    %th

  - @invoicedetails.each do |invoicedetail|
    %tr
      %td= invoicedetail.NroLinDet
      %td= invoicedetail.TpoCodigo
      %td= invoicedetail.VlrCodigo
      %td= invoicedetail.IndExe
      %td= invoicedetail.IndAgente
      %td= invoicedetail.MntBaseFaena
      %td= invoicedetail.MntMargComer
      %td= invoicedetail.PrcConsFinal
      %td= invoicedetail.NmbItem
      %td= invoicedetail.DscItem
      %td= invoicedetail.QtyRef
      %td= invoicedetail.UnmdRef
      %td= invoicedetail.PrcRef
      %td= invoicedetail.QtyItem
      %td= invoicedetail.SubQty
      %td= invoicedetail.FchElabor
      %td= invoicedetail.FchVencim
      %td= invoicedetail.UnmdItem
      %td= invoicedetail.PrcItem
      %td= invoicedetail.PrcOtrMon
      %td= invoicedetail.Moneda
      %td= invoicedetail.FctConv
      %td= invoicedetail.DctoOtrMnda
      %td= invoicedetail.RecargoOtrMnda
      %td= invoicedetail.MontoItemOtrMnda
      %td= invoicedetail.DescuentoPct
      %td= invoicedetail.DescuentoMonto
      %td= invoicedetail.TipoDscto
      %td= invoicedetail.ValorDscto
      %td= invoicedetail.RecargoPct
      %td= invoicedetail.RecargoMonto
      %td= invoicedetail.TipoRecargo
      %td= invoicedetail.ValorRecargo
      %td= invoicedetail.CodImpAdic
      %td= invoicedetail.MontoItem
      %td= invoicedetail.invoice
      %td= link_to 'Show', invoicedetail
      %td= link_to 'Edit', edit_invoicedetail_path(invoicedetail)
      %td= link_to 'Destroy', invoicedetail, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Invoicedetail', new_invoicedetail_path
