%p#notice= notice

%p
  %b Nrolindet:
  = @invoicedetail.NroLinDet
%p
  %b Tpocodigo:
  = @invoicedetail.TpoCodigo
%p
  %b Vlrcodigo:
  = @invoicedetail.VlrCodigo
%p
  %b Indexe:
  = @invoicedetail.IndExe
%p
  %b Indagente:
  = @invoicedetail.IndAgente
%p
  %b Mntbasefaena:
  = @invoicedetail.MntBaseFaena
%p
  %b Mntmargcomer:
  = @invoicedetail.MntMargComer
%p
  %b Prcconsfinal:
  = @invoicedetail.PrcConsFinal
%p
  %b Nmbitem:
  = @invoicedetail.NmbItem
%p
  %b Dscitem:
  = @invoicedetail.DscItem
%p
  %b Qtyref:
  = @invoicedetail.QtyRef
%p
  %b Unmdref:
  = @invoicedetail.UnmdRef
%p
  %b Prcref:
  = @invoicedetail.PrcRef
%p
  %b Qtyitem:
  = @invoicedetail.QtyItem
%p
  %b Subqty:
  = @invoicedetail.SubQty
%p
  %b Fchelabor:
  = @invoicedetail.FchElabor
%p
  %b Fchvencim:
  = @invoicedetail.FchVencim
%p
  %b Unmditem:
  = @invoicedetail.UnmdItem
%p
  %b Prcitem:
  = @invoicedetail.PrcItem
%p
  %b Prcotrmon:
  = @invoicedetail.PrcOtrMon
%p
  %b Moneda:
  = @invoicedetail.Moneda
%p
  %b Fctconv:
  = @invoicedetail.FctConv
%p
  %b Dctootrmnda:
  = @invoicedetail.DctoOtrMnda
%p
  %b Recargootrmnda:
  = @invoicedetail.RecargoOtrMnda
%p
  %b Montoitemotrmnda:
  = @invoicedetail.MontoItemOtrMnda
%p
  %b Descuentopct:
  = @invoicedetail.DescuentoPct
%p
  %b Descuentomonto:
  = @invoicedetail.DescuentoMonto
%p
  %b Tipodscto:
  = @invoicedetail.TipoDscto
%p
  %b Valordscto:
  = @invoicedetail.ValorDscto
%p
  %b Recargopct:
  = @invoicedetail.RecargoPct
%p
  %b Recargomonto:
  = @invoicedetail.RecargoMonto
%p
  %b Tiporecargo:
  = @invoicedetail.TipoRecargo
%p
  %b Valorrecargo:
  = @invoicedetail.ValorRecargo
%p
  %b Codimpadic:
  = @invoicedetail.CodImpAdic
%p
  %b Montoitem:
  = @invoicedetail.MontoItem
%p
  %b Invoice:
  = @invoicedetail.invoice

= link_to 'Edit', edit_invoicedetail_path(@invoicedetail)
\|
= link_to 'Back', invoicedetails_path
