%h1 Listing referencia

%table
  %tr
    %th Nrolinref
    %th Integer
    %th Tpodocref
    %th String
    %th Indglobal
    %th Integer
    %th Folioref
    %th String
    %th Rutotr
    %th String
    %th Idadicotr
    %th String
    %th Fchref
    %th String
    %th Codref
    %th Integer
    %th Razonref
    %th String
    %th Documento
    %th
    %th
    %th

  - @referencia.each do |referencium|
    %tr
      %td= referencium.NroLinRef
      %td= referencium.integer
      %td= referencium.TpoDocRef
      %td= referencium.string
      %td= referencium.IndGlobal
      %td= referencium.integer
      %td= referencium.FolioRef
      %td= referencium.string
      %td= referencium.RUTOtr
      %td= referencium.string
      %td= referencium.IdAdicOtr
      %td= referencium.string
      %td= referencium.FchRef
      %td= referencium.string
      %td= referencium.CodRef
      %td= referencium.integer
      %td= referencium.RazonRef
      %td= referencium.string
      %td= referencium.documento
      %td= link_to 'Show', referencium
      %td= link_to 'Edit', edit_referencium_path(referencium)
      %td= link_to 'Destroy', referencium, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Referencium', new_referencium_path
