%p#notice= notice

%p
  %b Nrolinref:
  = @referencium.NroLinRef
%p
  %b Integer:
  = @referencium.integer
%p
  %b Tpodocref:
  = @referencium.TpoDocRef
%p
  %b String:
  = @referencium.string
%p
  %b Indglobal:
  = @referencium.IndGlobal
%p
  %b Integer:
  = @referencium.integer
%p
  %b Folioref:
  = @referencium.FolioRef
%p
  %b String:
  = @referencium.string
%p
  %b Rutotr:
  = @referencium.RUTOtr
%p
  %b String:
  = @referencium.string
%p
  %b Idadicotr:
  = @referencium.IdAdicOtr
%p
  %b String:
  = @referencium.string
%p
  %b Fchref:
  = @referencium.FchRef
%p
  %b String:
  = @referencium.string
%p
  %b Codref:
  = @referencium.CodRef
%p
  %b Integer:
  = @referencium.integer
%p
  %b Razonref:
  = @referencium.RazonRef
%p
  %b String:
  = @referencium.string
%p
  %b Documento:
  = @referencium.documento

= link_to 'Edit', edit_referencium_path(@referencium)
\|
= link_to 'Back', referencia_path
