%h3 Documentos Recibidos Proveedor

%table.table.table-striped
  %thead
    %tr
      %th Tipodte
      %th Folio
      %th Fchemis
      %th Rutemisor
      %th Rznsoc
      %th Rutrecep
      %th Rznsocrecep
      %th Mnttotal
      %th
      %th
      %th
      
  %tbody
    - @doccompras.each do |doccompra|
      %tr
        %td= doccompra.nombre_doc
        %td= doccompra.Folio
        %td= doccompra.FchEmis
        %td= doccompra.RUTEmisor
        %td= doccompra.RznSoc.tr('Ñn','Nn')
        %td= doccompra.RUTRecep
        %td= doccompra.RznSocRecep.tr('Ñn','Nn')
        %td= number_to_currency( doccompra.MntTotal, precision: 0, delimiter: "." )
        %td= link_to "Detalle", "/detcompras/#{doccompra.id}", class: "btn btn-primary btn-xs"
        %td= link_to "Aprobar", "/doccompras/aprobar/#{doccompra.id}", class: "btn btn-success btn-xs" 
        %td= link_to "Rechazar", "/doccompras/rechazar/#{doccompra.id}", class: "btn btn-danger btn-xs"      




       
