%p#notice= notice

%p
  %b Tipodte:
  = @doccompra.TipoDTE
%p
  %b Folio:
  = @doccompra.Folio
%p
  %b Fchemis:
  = @doccompra.FchEmis
%p
  %b Indnorebaja:
  = @doccompra.IndNoRebaja
%p
  %b Tipodespacho:
  = @doccompra.TipoDespacho
%p
  %b Indtraslado:
  = @doccompra.IndTraslado
%p
  %b Tpoimpresion:
  = @doccompra.TpoImpresion
%p
  %b Indservicio:
  = @doccompra.IndServicio
%p
  %b Mntbruto:
  = @doccompra.MntBruto
%p
  %b Fmapago:
  = @doccompra.FmaPago
%p
  %b Fchvenc:
  = @doccompra.FchVenc
%p
  %b Rutemisor:
  = @doccompra.RUTEmisor
%p
  %b Rznsoc:
  = @doccompra.RznSoc
%p
  %b Giroemis:
  = @doccompra.GiroEmis
%p
  %b Telefono:
  = @doccompra.Telefono
%p
  %b Correoemisor:
  = @doccompra.CorreoEmisor
%p
  %b Acteco:
  = @doccompra.Acteco
%p
  %b Cdgtraslado:
  = @doccompra.CdgTraslado
%p
  %b Folioaut:
  = @doccompra.FolioAut
%p
  %b Fchaut:
  = @doccompra.FchAut
%p
  %b Sucursal:
  = @doccompra.Sucursal
%p
  %b Cdgsiisucur:
  = @doccompra.CdgSIISucur
%p
  %b Codadicsucur:
  = @doccompra.CodAdicSucur
%p
  %b Dirorigen:
  = @doccompra.DirOrigen
%p
  %b Cmnaorigen:
  = @doccompra.CmnaOrigen
%p
  %b Ciudadorigen:
  = @doccompra.CiudadOrigen
%p
  %b Cdgvendedor:
  = @doccompra.CdgVendedor
%p
  %b Idadicemisor:
  = @doccompra.IdAdicEmisor
%p
  %b Rutmandante:
  = @doccompra.RUTMandante
%p
  %b Rutrecep:
  = @doccompra.RUTRecep
%p
  %b Cdgintrecep:
  = @doccompra.CdgIntRecep
%p
  %b Rznsocrecep:
  = @doccompra.RznSocRecep
%p
  %b Numid:
  = @doccompra.NumId
%p
  %b Nacionalidad:
  = @doccompra.Nacionalidad
%p
  %b Idadicrecep:
  = @doccompra.IdAdicRecep
%p
  %b Girorecep:
  = @doccompra.GiroRecep
%p
  %b Contacto:
  = @doccompra.Contacto
%p
  %b Correorecep:
  = @doccompra.CorreoRecep
%p
  %b Dirrecep:
  = @doccompra.DirRecep
%p
  %b Cmnarecep:
  = @doccompra.CmnaRecep
%p
  %b Ciudadrecep:
  = @doccompra.CiudadRecep
%p
  %b Dirpostal:
  = @doccompra.DirPostal
%p
  %b Cmnapostal:
  = @doccompra.CmnaPostal
%p
  %b Ciudadpostal:
  = @doccompra.CiudadPostal
%p
  %b Rutsolicita:
  = @doccompra.RUTSolicita
%p
  %b Patente:
  = @doccompra.Patente
%p
  %b Ruttrans:
  = @doccompra.RUTTrans
%p
  %b Rutchofer:
  = @doccompra.RUTChofer
%p
  %b Nombrechofer:
  = @doccompra.NombreChofer
%p
  %b Dirdest:
  = @doccompra.DirDest
%p
  %b Cmnadest:
  = @doccompra.CmnaDest
%p
  %b Ciudaddest:
  = @doccompra.CiudadDest
%p
  %b Codmodventa:
  = @doccompra.CodModVenta
%p
  %b Codclauventa:
  = @doccompra.CodClauVenta
%p
  %b Totclauventa:
  = @doccompra.TotClauVenta
%p
  %b Codviatransp:
  = @doccompra.CodViaTransp
%p
  %b Nombretransp:
  = @doccompra.NombreTransp
%p
  %b Rutciatransp:
  = @doccompra.RUTCiaTransp
%p
  %b Nomciatransp:
  = @doccompra.NomCiaTransp
%p
  %b Idadictransp:
  = @doccompra.IdAdicTransp
%p
  %b Booking:
  = @doccompra.Booking
%p
  %b Operador:
  = @doccompra.Operador
%p
  %b Codptoembarque:
  = @doccompra.CodPtoEmbarque
%p
  %b Idadicptoemb:
  = @doccompra.IdAdicPtoEmb
%p
  %b Codptodesemb:
  = @doccompra.CodPtoDesemb
%p
  %b Idadicptodesemb:
  = @doccompra.IdAdicPtoDesemb
%p
  %b Tara:
  = @doccompra.Tara
%p
  %b Codunidmedtara:
  = @doccompra.CodUnidMedTara
%p
  %b Pesobruto:
  = @doccompra.PesoBruto
%p
  %b Codunidpesobruto:
  = @doccompra.CodUnidPesoBruto
%p
  %b Pesoneto:
  = @doccompra.PesoNeto
%p
  %b Codunidpesoneto:
  = @doccompra.CodUnidPesoNeto
%p
  %b Totitems:
  = @doccompra.TotItems
%p
  %b Totbultos:
  = @doccompra.TotBultos
%p
  %b Tpomoneda:
  = @doccompra.TpoMoneda
%p
  %b Mntneto:
  = @doccompra.MntNeto
%p
  %b Mntexe:
  = @doccompra.MntExe
%p
  %b Mntbase:
  = @doccompra.MntBase
%p
  %b Mntmargencom:
  = @doccompra.MntMargenCom
%p
  %b Tasaiva:
  = @doccompra.TasaIVA
%p
  %b Iva:
  = @doccompra.IVA
%p
  %b Ivaprop:
  = @doccompra.IVAProp
%p
  %b Ivaterc:
  = @doccompra.IVATerc
%p
  %b Ivanoret:
  = @doccompra.IVANoRet
%p
  %b Credec:
  = @doccompra.CredEC
%p
  %b Grntdep:
  = @doccompra.GrntDep
%p
  %b Valcomneto:
  = @doccompra.ValComNeto
%p
  %b Valcomexe:
  = @doccompra.ValComExe
%p
  %b Valcomiva:
  = @doccompra.ValComIVA
%p
  %b Mnttotal:
  = @doccompra.MntTotal
%p
  %b Montonf:
  = @doccompra.MontoNF
%p
  %b Xmlrecibido:
  = @doccompra.xmlrecibido
%p
  %b Estado:
  = @doccompra.estado

= link_to 'Edit', edit_doccompra_path(@doccompra)
\|
= link_to 'Back', doccompras_path
