%p#notice= notice

%p
  %b Nrolindet:
  = @guidedetail.NroLinDet
%p
  %b Tpocodigo:
  = @guidedetail.TpoCodigo
%p
  %b Vlrcodigo:
  = @guidedetail.VlrCodigo
%p
  %b Indexe:
  = @guidedetail.IndExe
%p
  %b Indagente:
  = @guidedetail.IndAgente
%p
  %b Mntbasefaena:
  = @guidedetail.MntBaseFaena
%p
  %b Mntmargcomer:
  = @guidedetail.MntMargComer
%p
  %b Prcconsfinal:
  = @guidedetail.PrcConsFinal
%p
  %b Nmbitem:
  = @guidedetail.NmbItem
%p
  %b Dscitem:
  = @guidedetail.DscItem
%p
  %b Qtyref:
  = @guidedetail.QtyRef
%p
  %b Unmdref:
  = @guidedetail.UnmdRef
%p
  %b Prcref:
  = @guidedetail.PrcRef
%p
  %b Qtyitem:
  = @guidedetail.QtyItem
%p
  %b Subqty:
  = @guidedetail.SubQty
%p
  %b Subcod:
  = @guidedetail.SubCod
%p
  %b Fchelabor:
  = @guidedetail.FchElabor
%p
  %b Fchvencim:
  = @guidedetail.FchVencim
%p
  %b Unmditem:
  = @guidedetail.UnmdItem
%p
  %b Prcitem:
  = @guidedetail.PrcItem
%p
  %b Prcotrmon:
  = @guidedetail.PrcOtrMon
%p
  %b Moneda:
  = @guidedetail.Moneda
%p
  %b Fctconv:
  = @guidedetail.FctConv
%p
  %b Dctootrmnda:
  = @guidedetail.DctoOtrMnda
%p
  %b Recargootrmnda:
  = @guidedetail.RecargoOtrMnda
%p
  %b Montoitemotrmnda:
  = @guidedetail.MontoItemOtrMnda
%p
  %b Descuentopct:
  = @guidedetail.DescuentoPct
%p
  %b Descuentomonto:
  = @guidedetail.DescuentoMonto
%p
  %b Tipodscto:
  = @guidedetail.TipoDscto
%p
  %b Valordscto:
  = @guidedetail.ValorDscto
%p
  %b Recargopct:
  = @guidedetail.RecargoPct
%p
  %b Recargomonto:
  = @guidedetail.RecargoMonto
%p
  %b Tiporecargo:
  = @guidedetail.TipoRecargo
%p
  %b Valorrecargo:
  = @guidedetail.ValorRecargo
%p
  %b Codimpadic:
  = @guidedetail.CodImpAdic
%p
  %b Montoitem:
  = @guidedetail.MontoItem
%p
  %b Guide:
  = @guidedetail.guide

= link_to 'Edit', edit_guidedetail_path(@guidedetail)
\|
= link_to 'Back', guidedetails_path
