%h1 Listing impuesto_retens

%table
  %tr
    %th Tipoimp
    %th Tasaimp
    %th Montoimp
    %th Documento
    %th
    %th
    %th

  - @impuesto_retens.each do |impuesto_reten|
    %tr
      %td= impuesto_reten.TipoImp
      %td= impuesto_reten.TasaImp
      %td= impuesto_reten.MontoImp
      %td= impuesto_reten.documento
      %td= link_to 'Show', impuesto_reten
      %td= link_to 'Edit', edit_impuesto_reten_path(impuesto_reten)
      %td= link_to 'Destroy', impuesto_reten, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Impuesto reten', new_impuesto_reten_path
