%p#notice= notice

%p
  %b Tipoimp:
  = @impuesto_reten.TipoImp
%p
  %b Tasaimp:
  = @impuesto_reten.TasaImp
%p
  %b Montoimp:
  = @impuesto_reten.MontoImp
%p
  %b Documento:
  = @impuesto_reten.documento

= link_to 'Edit', edit_impuesto_reten_path(@impuesto_reten)
\|
= link_to 'Back', impuesto_retens_path
