%p#notice= notice

%p
  %b Tipodoc:
  = @docmanual.tipodoc
%p
  %b Folio:
  = @docmanual.folio
%p
  %b Fchemis:
  = @docmanual.fchemis
%p
  %b Rutemisor:
  = @docmanual.rutemisor
%p
  %b Rutrecep:
  = @docmanual.rutrecep
%p
  %b Rznsocrecep:
  = @docmanual.rznsocrecep
%p
  %b Mntneto:
  = @docmanual.mntneto
%p
  %b Mntexe:
  = @docmanual.mntexe
%p
  %b Mntiva:
  = @docmanual.mntiva
%p
  %b Otrosimpto:
  = @docmanual.otrosimpto
%p
  %b Mnttotal:
  = @docmanual.mnttotal
%p
  %b Impto18:
  = @docmanual.impto18
%p
  %b Impto10:
  = @docmanual.impto10
%p
  %b Impto25:
  = @docmanual.impto25
%p
  %b Impto30:
  = @docmanual.impto30
%p
  %b Estado:
  = @docmanual.estado

= link_to 'Edit', edit_docmanual_path(@docmanual)
\|
= link_to 'Back', docmanuals_path
