= simple_form_for(@documento) do |f|
  = f.error_notification

  .form-inputs
    = f.input :TipoDTE
    = f.input :integer
    = f.input :Folio
    = f.input :integer
    = f.input :FchEmis
    = f.input :string
    = f.input :IndNoRebaja
    = f.input :integer
    = f.input :TipoDespacho
    = f.input :integer
    = f.input :IndTraslado
    = f.input :integer
    = f.input :TpoImpresion
    = f.input :string
    = f.input :IndServicio
    = f.input :integer
    = f.input :MntBruto
    = f.input :integer
    = f.input :FmaPago
    = f.input :integer
    = f.input :FchVenc
    = f.input :string
    = f.input :RUTEmisor
    = f.input :string
    = f.input :RznSoc
    = f.input :string
    = f.input :GiroEmis
    = f.input :string
    = f.input :Telefono
    = f.input :string
    = f.input :CorreoEmisor
    = f.input :string
    = f.input :Acteco
    = f.input :integer
    = f.input :CdgTraslado
    = f.input :integer
    = f.input :FolioAut
    = f.input :integer
    = f.input :FchAut
    = f.input :string
    = f.input :Sucursal
    = f.input :string
    = f.input :CdgSIISucur
    = f.input :integer
    = f.input :CodAdicSucur
    = f.input :string
    = f.input :DirOrigen
    = f.input :string
    = f.input :CmnaOrigen
    = f.input :string
    = f.input :CiudadOrigen
    = f.input :string
    = f.input :CdgVendedor
    = f.input :integer
    = f.input :IdAdicEmisor
    = f.input :string
    = f.input :RUTMandante
    = f.input :string
    = f.input :RUTRecep
    = f.input :string
    = f.input :CdgIntRecep
    = f.input :string
    = f.input :RznSocRecep
    = f.input :string
    = f.input :NumId
    = f.input :string
    = f.input :Nacionalidad
    = f.input :string
    = f.input :IdAdicRecep
    = f.input :string
    = f.input :GiroRecep
    = f.input :string
    = f.input :Contacto
    = f.input :string
    = f.input :CorreoRecep
    = f.input :string
    = f.input :DirRecep
    = f.input :string
    = f.input :CmnaRecep
    = f.input :string
    = f.input :CiudadRecep
    = f.input :string
    = f.input :DirPostal
    = f.input :string
    = f.input :CmnaPostal
    = f.input :string
    = f.input :CiudadPostal
    = f.input :string
    = f.input :RUTSolicita
    = f.input :string
    = f.input :Patente
    = f.input :string
    = f.input :RUTTrans
    = f.input :string
    = f.input :RUTChofer
    = f.input :string
    = f.input :NombreChofer
    = f.input :string
    = f.input :DirDest
    = f.input :string
    = f.input :CmnaDest
    = f.input :string
    = f.input :CiudadDest
    = f.input :string
    = f.input :CodModVenta
    = f.input :integer
    = f.input :CodClauVenta
    = f.input :integer
    = f.input :TotClauVenta
    = f.input :integer
    = f.input :CodViaTransp
    = f.input :integer
    = f.input :NombreTransp
    = f.input :string
    = f.input :RUTCiaTransp
    = f.input :string
    = f.input :NomCiaTransp
    = f.input :string
    = f.input :IdAdicTransp
    = f.input :string
    = f.input :Booking
    = f.input :string
    = f.input :Operador
    = f.input :string
    = f.input :CodPtoEmbarque
    = f.input :integer
    = f.input :IdAdicPtoEmb
    = f.input :string
    = f.input :CodPtoDesemb
    = f.input :string
    = f.input :IdAdicPtoDesemb
    = f.input :string
    = f.input :Tara
    = f.input :integer
    = f.input :CodUnidMedTara
    = f.input :integer
    = f.input :PesoBruto
    = f.input :integer
    = f.input :CodUnidPesoBruto
    = f.input :integer
    = f.input :PesoNeto
    = f.input :integer
    = f.input :CodUnidPesoNeto
    = f.input :integer
    = f.input :TotItems
    = f.input :integer
    = f.input :TotBultos
    = f.input :integer
    = f.input :TpoMoneda
    = f.input :string
    = f.input :MntNeto
    = f.input :integer
    = f.input :MntExe
    = f.input :integer
    = f.input :MntBase
    = f.input :integer
    = f.input :MntMargenCom
    = f.input :integer
    = f.input :TasaIVA
    = f.input :float
    = f.input :IVA
    = f.input :integer
    = f.input :IVAProp
    = f.input :integer
    = f.input :IVATerc
    = f.input :integer
    = f.input :IVANoRet
    = f.input :integer
    = f.input :CredEC
    = f.input :integer
    = f.input :GrntDep
    = f.input :integer
    = f.input :ValComNeto
    = f.input :integer
    = f.input :ValComExe
    = f.input :integer
    = f.input :ValComIVA
    = f.input :integer
    = f.input :MntTotal
    = f.input :integer
    = f.input :MontoNF
    = f.input :integer

  .form-actions
    = f.button :submit
