%h3 Documentos

= will_paginate @documentos

%p.text-danger Busqueda por folio, debe indicar la Empresa.

= form_tag '/buscarDoc' do
  = field_set_tag do
    = label_tag :empresa, 'Empresa:'
    %input{name: 'empresa', type: 'text', list: 'Empresa'}
    %datalist#Empresa
      %option Lubba Santiago 
      %option Lubba Regiones
    = label_tag :sucursal, 'Sucursal:'
    %input{name: 'sucursal', type: 'text', list: 'Sucursal'}
    %datalist#Sucursal
      %option (Regiones) VINA DEL MAR  
      %option (Regiones) OVALLE
      %option (Regiones) LA SERENA  
      %option (Regiones) ABEL GONZALEZ 042
      %option (Stgo) MONUMENTO
      %option (Stgo) 5 DE ABRIL 412 
      %option (Stgo) ABEL GONZALEZ 44 

    = label_tag :Folio, 'Folio:'
    = text_field_tag :Folio
    = submit_tag 'Buscar'
%br

%table.table.table-striped
  %tr
    %th Tipodte
    %th Folio
    %th Fchemis
    %th.hidden_sm Cdgsiisucur
    %th.hidden_sm Mntneto
    %th Mnttotal
    %th EstadoEnvio
    %th Cedible
    %th Tributable
    %th XML
  - @documentos.each do |documento|
    %tr
      %td= documento.TipoDTE
      %td= documento.Folio
      %td= documento.FchEmis
      %td= documento.sucursal
      %td= documento.MntNeto
      %td= documento.MntTotal
      %td= documento.estado
      -if(documento.pdfs?)
        %td= link_to 'PDF', documento.pdfs_url
      -else
        %td
      -if(documento.pdft?)
        %td= link_to 'PDF', documento.pdft_url
      -else
        %td
      -if(documento.fileEnvio?)
        %td= link_to 'XML', documento.fileEnvio_url
      -else
        %td   
      /%td= link_to 'Show', documento
      /%td= link_to 'Edit', edit_documento_path(documento)
      /%td= link_to 'Destroy', documento, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br


/= link_to 'New Documento', new_documento_path
