%h3 Documentos

= simple_form_for(documentos_path,:method => :get ) do |f|
  = f.input :search, label: false, placeholder: "Sucursal TipoDte Folio Fchemis(yyyy-mm-dd) ", :input_html => {:style=> 'width: 400px'}  
  %p
  = f.button :submit, "Buscar",  class: "btn btn-primary btn-xs"

%br
= will_paginate @documentos
%br

%table.table.table-striped
  %tr
    %th Tipodte
    %th Folio
    %th Fchemis
    %th.hidden_sm Cdgsiisucur
    %th.hidden_sm Mntneto
    %th Mnttotal
    %th EstadoEnvio
    %th Cedible
    %th Tributable
    %th XML
  - @documentos.each do |documento|
    %tr
      %td= documento.nombre_doc
      %td= documento.Folio
      %td= documento.FchEmis
      %td= documento.sucursal
      %td= documento.MntNeto
      %td= documento.MntTotal
      %td= documento.estado
      -if(documento.pdfs?)
        %td= link_to 'PDF', documento.pdfs_url
      -else
        %td
      -if(documento.pdft?)
        %td= link_to 'PDF', documento.pdft_url
      -else
        %td
      -if(documento.fileCliente?)
        %td= link_to 'XML', documento.fileCliente_url
      -else
        %td   

%br

