%h1 Listing documentos

%table
  %tr
    %th Tipodte
    %th Integer
    %th Folio
    %th Integer
    %th Fchemis
    %th String
    %th Indnorebaja
    %th Integer
    %th Tipodespacho
    %th Integer
    %th Indtraslado
    %th Integer
    %th Tpoimpresion
    %th String
    %th Indservicio
    %th Integer
    %th Mntbruto
    %th Integer
    %th Fmapago
    %th Integer
    %th Fchvenc
    %th String
    %th Rutemisor
    %th String
    %th Rznsoc
    %th String
    %th Giroemis
    %th String
    %th Telefono
    %th String
    %th Correoemisor
    %th String
    %th Acteco
    %th Integer
    %th Cdgtraslado
    %th Integer
    %th Folioaut
    %th Integer
    %th Fchaut
    %th String
    %th Sucursal
    %th String
    %th Cdgsiisucur
    %th Integer
    %th Codadicsucur
    %th String
    %th Dirorigen
    %th String
    %th Cmnaorigen
    %th String
    %th Ciudadorigen
    %th String
    %th Cdgvendedor
    %th Integer
    %th Idadicemisor
    %th String
    %th Rutmandante
    %th String
    %th Rutrecep
    %th String
    %th Cdgintrecep
    %th String
    %th Rznsocrecep
    %th String
    %th Numid
    %th String
    %th Nacionalidad
    %th String
    %th Idadicrecep
    %th String
    %th Girorecep
    %th String
    %th Contacto
    %th String
    %th Correorecep
    %th String
    %th Dirrecep
    %th String
    %th Cmnarecep
    %th String
    %th Ciudadrecep
    %th String
    %th Dirpostal
    %th String
    %th Cmnapostal
    %th String
    %th Ciudadpostal
    %th String
    %th Rutsolicita
    %th String
    %th Patente
    %th String
    %th Ruttrans
    %th String
    %th Rutchofer
    %th String
    %th Nombrechofer
    %th String
    %th Dirdest
    %th String
    %th Cmnadest
    %th String
    %th Ciudaddest
    %th String
    %th Codmodventa
    %th Integer
    %th Codclauventa
    %th Integer
    %th Totclauventa
    %th Integer
    %th Codviatransp
    %th Integer
    %th Nombretransp
    %th String
    %th Rutciatransp
    %th String
    %th Nomciatransp
    %th String
    %th Idadictransp
    %th String
    %th Booking
    %th String
    %th Operador
    %th String
    %th Codptoembarque
    %th Integer
    %th Idadicptoemb
    %th String
    %th Codptodesemb
    %th String
    %th Idadicptodesemb
    %th String
    %th Tara
    %th Integer
    %th Codunidmedtara
    %th Integer
    %th Pesobruto
    %th Integer
    %th Codunidpesobruto
    %th Integer
    %th Pesoneto
    %th Integer
    %th Codunidpesoneto
    %th Integer
    %th Totitems
    %th Integer
    %th Totbultos
    %th Integer
    %th Tpomoneda
    %th String
    %th Mntneto
    %th Integer
    %th Mntexe
    %th Integer
    %th Mntbase
    %th Integer
    %th Mntmargencom
    %th Integer
    %th Tasaiva
    %th Float
    %th Iva
    %th Integer
    %th Ivaprop
    %th Integer
    %th Ivaterc
    %th Integer
    %th Ivanoret
    %th Integer
    %th Credec
    %th Integer
    %th Grntdep
    %th Integer
    %th Valcomneto
    %th Integer
    %th Valcomexe
    %th Integer
    %th Valcomiva
    %th Integer
    %th Mnttotal
    %th Integer
    %th Montonf
    %th Integer
    %th
    %th
    %th

  - @documentos.each do |documento|
    %tr
      %td= documento.TipoDTE
      %td= documento.integer
      %td= documento.Folio
      %td= documento.integer
      %td= documento.FchEmis
      %td= documento.string
      %td= documento.IndNoRebaja
      %td= documento.integer
      %td= documento.TipoDespacho
      %td= documento.integer
      %td= documento.IndTraslado
      %td= documento.integer
      %td= documento.TpoImpresion
      %td= documento.string
      %td= documento.IndServicio
      %td= documento.integer
      %td= documento.MntBruto
      %td= documento.integer
      %td= documento.FmaPago
      %td= documento.integer
      %td= documento.FchVenc
      %td= documento.string
      %td= documento.RUTEmisor
      %td= documento.string
      %td= documento.RznSoc
      %td= documento.string
      %td= documento.GiroEmis
      %td= documento.string
      %td= documento.Telefono
      %td= documento.string
      %td= documento.CorreoEmisor
      %td= documento.string
      %td= documento.Acteco
      %td= documento.integer
      %td= documento.CdgTraslado
      %td= documento.integer
      %td= documento.FolioAut
      %td= documento.integer
      %td= documento.FchAut
      %td= documento.string
      %td= documento.Sucursal
      %td= documento.string
      %td= documento.CdgSIISucur
      %td= documento.integer
      %td= documento.CodAdicSucur
      %td= documento.string
      %td= documento.DirOrigen
      %td= documento.string
      %td= documento.CmnaOrigen
      %td= documento.string
      %td= documento.CiudadOrigen
      %td= documento.string
      %td= documento.CdgVendedor
      %td= documento.integer
      %td= documento.IdAdicEmisor
      %td= documento.string
      %td= documento.RUTMandante
      %td= documento.string
      %td= documento.RUTRecep
      %td= documento.string
      %td= documento.CdgIntRecep
      %td= documento.string
      %td= documento.RznSocRecep
      %td= documento.string
      %td= documento.NumId
      %td= documento.string
      %td= documento.Nacionalidad
      %td= documento.string
      %td= documento.IdAdicRecep
      %td= documento.string
      %td= documento.GiroRecep
      %td= documento.string
      %td= documento.Contacto
      %td= documento.string
      %td= documento.CorreoRecep
      %td= documento.string
      %td= documento.DirRecep
      %td= documento.string
      %td= documento.CmnaRecep
      %td= documento.string
      %td= documento.CiudadRecep
      %td= documento.string
      %td= documento.DirPostal
      %td= documento.string
      %td= documento.CmnaPostal
      %td= documento.string
      %td= documento.CiudadPostal
      %td= documento.string
      %td= documento.RUTSolicita
      %td= documento.string
      %td= documento.Patente
      %td= documento.string
      %td= documento.RUTTrans
      %td= documento.string
      %td= documento.RUTChofer
      %td= documento.string
      %td= documento.NombreChofer
      %td= documento.string
      %td= documento.DirDest
      %td= documento.string
      %td= documento.CmnaDest
      %td= documento.string
      %td= documento.CiudadDest
      %td= documento.string
      %td= documento.CodModVenta
      %td= documento.integer
      %td= documento.CodClauVenta
      %td= documento.integer
      %td= documento.TotClauVenta
      %td= documento.integer
      %td= documento.CodViaTransp
      %td= documento.integer
      %td= documento.NombreTransp
      %td= documento.string
      %td= documento.RUTCiaTransp
      %td= documento.string
      %td= documento.NomCiaTransp
      %td= documento.string
      %td= documento.IdAdicTransp
      %td= documento.string
      %td= documento.Booking
      %td= documento.string
      %td= documento.Operador
      %td= documento.string
      %td= documento.CodPtoEmbarque
      %td= documento.integer
      %td= documento.IdAdicPtoEmb
      %td= documento.string
      %td= documento.CodPtoDesemb
      %td= documento.string
      %td= documento.IdAdicPtoDesemb
      %td= documento.string
      %td= documento.Tara
      %td= documento.integer
      %td= documento.CodUnidMedTara
      %td= documento.integer
      %td= documento.PesoBruto
      %td= documento.integer
      %td= documento.CodUnidPesoBruto
      %td= documento.integer
      %td= documento.PesoNeto
      %td= documento.integer
      %td= documento.CodUnidPesoNeto
      %td= documento.integer
      %td= documento.TotItems
      %td= documento.integer
      %td= documento.TotBultos
      %td= documento.integer
      %td= documento.TpoMoneda
      %td= documento.string
      %td= documento.MntNeto
      %td= documento.integer
      %td= documento.MntExe
      %td= documento.integer
      %td= documento.MntBase
      %td= documento.integer
      %td= documento.MntMargenCom
      %td= documento.integer
      %td= documento.TasaIVA
      %td= documento.float
      %td= documento.IVA
      %td= documento.integer
      %td= documento.IVAProp
      %td= documento.integer
      %td= documento.IVATerc
      %td= documento.integer
      %td= documento.IVANoRet
      %td= documento.integer
      %td= documento.CredEC
      %td= documento.integer
      %td= documento.GrntDep
      %td= documento.integer
      %td= documento.ValComNeto
      %td= documento.integer
      %td= documento.ValComExe
      %td= documento.integer
      %td= documento.ValComIVA
      %td= documento.integer
      %td= documento.MntTotal
      %td= documento.integer
      %td= documento.MontoNF
      %td= documento.integer
      %td= link_to 'Show', documento
      %td= link_to 'Edit', edit_documento_path(documento)
      %td= link_to 'Destroy', documento, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Documento', new_documento_path
