%h1 Documentos

= will_paginate @documentos

%table.table.table-striped
  %tr
    %th Tipodte
    %th Folio
    %th Fchemis
    / %th Indnorebaja
    / %th Tipodespacho
    / %th Indtraslado
    / %th Tpoimpresion
    / %th Indservicio
    / %th Mntbruto
    / %th Fmapago
    / %th Fchvenc
    / %th Rutemisor
    / %th Rznsoc
    / %th Giroemis
    / %th Telefono
    / %th Correoemisor
    / %th Acteco
    / %th Cdgtraslado
    / %th Folioaut
    / %th Fchaut
    / %th Sucursal
    %th Cdgsiisucur
    / %th Codadicsucur
    / %th Dirorigen
    / %th Cmnaorigen
    / %th Ciudadorigen
    / %th Cdgvendedor
    / %th Idadicemisor
    / %th Rutmandante
    / %th Rutrecep
    / %th Cdgintrecep
    / %th Rznsocrecep
    / %th Numid
    / %th Nacionalidad
    / %th Idadicrecep
    / %th Girorecep
    / %th Contacto
    / %th Correorecep
    / %th Dirrecep
    / %th Cmnarecep
    / %th Ciudadrecep
    / %th Dirpostal
    / %th Cmnapostal
    / %th Ciudadpostal
    / %th Rutsolicita
    / %th Patente
    / %th Ruttrans
    / %th Rutchofer
    / %th Nombrechofer
    / %th Dirdest
    / %th Cmnadest
    / %th Ciudaddest
    / %th Codmodventa
    / %th Codclauventa
    / %th Totclauventa
    / %th Codviatransp
    / %th Nombretransp
    / %th Rutciatransp
    / %th Nomciatransp
    / %th Idadictransp
    / %th Booking
    / %th Operador
    / %th Codptoembarque
    / %th Idadicptoemb
    / %th Codptodesemb
    / %th Idadicptodesemb
    / %th Tara
    / %th Codunidmedtara
    / %th Pesobruto
    / %th Codunidpesobruto
    / %th Pesoneto
    / %th Codunidpesoneto
    / %th Totitems
    / %th Totbultos
    / %th Tpomoneda
    %th Mntneto
    / %th Mntexe
    / %th Mntbase
    / %th Mntmargencom
    / %th Tasaiva
    / %th Iva
    / %th Ivaprop
    / %th Ivaterc
    / %th Ivanoret
    / %th Credec
    / %th Grntdep
    / %th Valcomneto
    / %th Valcomexe
    / %th Valcomiva
    %th Mnttotal
    %th EstadoEnvio
    %th Cedible
    %th Tributable
    %th XML
    %th
    %th
    %th

  - @documentos.each do |documento|
    %tr
      %td= documento.TipoDTE
      %td= documento.Folio
      %td= documento.FchEmis
      / %td= documento.IndNoRebaja
      / %td= documento.TipoDespacho
      / %td= documento.IndTraslado
      / %td= documento.TpoImpresion
      / %td= documento.IndServicio
      / %td= documento.MntBruto
      / %td= documento.FmaPago
      / %td= documento.FchVenc
      / %td= documento.RUTEmisor
      / %td= documento.RznSoc
      / %td= documento.GiroEmis
      / %td= documento.Telefono
      / %td= documento.CorreoEmisor
      / %td= documento.Acteco
      / %td= documento.CdgTraslado
      / %td= documento.FolioAut
      / %td= documento.FchAut
      / %td= documento.Sucursal
      %td= documento.CdgSIISucur
      / %td= documento.CodAdicSucur
      / %td= documento.DirOrigen
      / %td= documento.CmnaOrigen
      / %td= documento.CiudadOrigen
      / %td= documento.CdgVendedor
      / %td= documento.IdAdicEmisor
      / %td= documento.RUTMandante
      / %td= documento.RUTRecep
      / %td= documento.CdgIntRecep
      / %td= documento.RznSocRecep
      / %td= documento.NumId
      / %td= documento.Nacionalidad
      / %td= documento.IdAdicRecep
      / %td= documento.GiroRecep
      / %td= documento.Contacto
      / %td= documento.CorreoRecep
      / %td= documento.DirRecep
      / %td= documento.CmnaRecep
      / %td= documento.CiudadRecep
      / %td= documento.DirPostal
      / %td= documento.CmnaPostal
      / %td= documento.CiudadPostal
      / %td= documento.RUTSolicita
      / %td= documento.Patente
      / %td= documento.RUTTrans
      / %td= documento.RUTChofer
      / %td= documento.NombreChofer
      / %td= documento.DirDest
      / %td= documento.CmnaDest
      / %td= documento.CiudadDest
      / %td= documento.CodModVenta
      / %td= documento.CodClauVenta
      / %td= documento.TotClauVenta
      / %td= documento.CodViaTransp
      / %td= documento.NombreTransp
      / %td= documento.RUTCiaTransp
      / %td= documento.NomCiaTransp
      / %td= documento.IdAdicTransp
      / %td= documento.Booking
      / %td= documento.Operador
      / %td= documento.CodPtoEmbarque
      / %td= documento.IdAdicPtoEmb
      / %td= documento.CodPtoDesemb
      / %td= documento.IdAdicPtoDesemb
      / %td= documento.Tara
      / %td= documento.CodUnidMedTara
      / %td= documento.PesoBruto
      / %td= documento.CodUnidPesoBruto
      / %td= documento.PesoNeto
      / %td= documento.CodUnidPesoNeto
      / %td= documento.TotItems
      / %td= documento.TotBultos
      / %td= documento.TpoMoneda
      %td= documento.MntNeto
      / %td= documento.MntExe
      / %td= documento.MntBase
      / %td= documento.MntMargenCom
      / %td= documento.TasaIVA
      / %td= documento.IVA
      / %td= documento.IVAProp
      / %td= documento.IVATerc
      / %td= documento.IVANoRet
      / %td= documento.CredEC
      / %td= documento.GrntDep
      / %td= documento.ValComNeto
      / %td= documento.ValComExe
      / %td= documento.ValComIVA
      %td= documento.MntTotal
      %td= documento.estadoxml
      -if(documento.pdfs?)
        %td= link_to 'PDF', documento.pdfs_url
      -else
        %td
      -if(documento.pdft?)
        %td= link_to 'PDF', documento.pdft_url
      -else
        %td
      -if(documento.fileEnvio?)
        %td= link_to 'XML', documento.fileEnvio_url
      -else
        %td   
      /%td= link_to 'Show', documento
      /%td= link_to 'Edit', edit_documento_path(documento)
      /%td= link_to 'Destroy', documento, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br


/= link_to 'New Documento', new_documento_path
