%p#notice= notice

%p
  %b Tipodte:
  = @documento.TipoDTE
%p
  %b Folio:
  = @documento.Folio
%p
  %b Fchemis:
  = @documento.FchEmis
%p
  %b Indnorebaja:
  = @documento.IndNoRebaja
%p
  %b Tipodespacho:
  = @documento.TipoDespacho
%p
  %b Indtraslado:
  = @documento.IndTraslado
%p
  %b Tpoimpresion:
  = @documento.TpoImpresion
%p
  %b Indservicio:
  = @documento.IndServicio
%p
  %b Mntbruto:
  = @documento.MntBruto
%p
  %b Fmapago:
  = @documento.FmaPago
%p
  %b Fchvenc:
  = @documento.FchVenc
%p
  %b Rutemisor:
  = @documento.RUTEmisor
%p
  %b Rznsoc:
  = @documento.RznSoc
%p
  %b Giroemis:
  = @documento.GiroEmis
%p
  %b Telefono:
  = @documento.Telefono
%p
  %b Correoemisor:
  = @documento.CorreoEmisor
%p
  %b Acteco:
  = @documento.Acteco
%p
  %b Cdgtraslado:
  = @documento.CdgTraslado
%p
  %b Folioaut:
  = @documento.FolioAut
%p
  %b Fchaut:
  = @documento.FchAut
%p
  %b Sucursal:
  = @documento.Sucursal
%p
  %b Cdgsiisucur:
  = @documento.CdgSIISucur
%p
  %b Codadicsucur:
  = @documento.CodAdicSucur
%p
  %b Dirorigen:
  = @documento.DirOrigen
%p
  %b Cmnaorigen:
  = @documento.CmnaOrigen
%p
  %b Ciudadorigen:
  = @documento.CiudadOrigen
%p
  %b Cdgvendedor:
  = @documento.CdgVendedor
%p
  %b Idadicemisor:
  = @documento.IdAdicEmisor
%p
  %b Rutmandante:
  = @documento.RUTMandante
%p
  %b Rutrecep:
  = @documento.RUTRecep
%p
  %b Cdgintrecep:
  = @documento.CdgIntRecep
%p
  %b Rznsocrecep:
  = @documento.RznSocRecep
%p
  %b Numid:
  = @documento.NumId
%p
  %b Nacionalidad:
  = @documento.Nacionalidad
%p
  %b Idadicrecep:
  = @documento.IdAdicRecep
%p
  %b Girorecep:
  = @documento.GiroRecep
%p
  %b Contacto:
  = @documento.Contacto
%p
  %b Correorecep:
  = @documento.CorreoRecep
%p
  %b Dirrecep:
  = @documento.DirRecep
%p
  %b Cmnarecep:
  = @documento.CmnaRecep
%p
  %b Ciudadrecep:
  = @documento.CiudadRecep
%p
  %b Dirpostal:
  = @documento.DirPostal
%p
  %b Cmnapostal:
  = @documento.CmnaPostal
%p
  %b Ciudadpostal:
  = @documento.CiudadPostal
%p
  %b Rutsolicita:
  = @documento.RUTSolicita
%p
  %b Patente:
  = @documento.Patente
%p
  %b Ruttrans:
  = @documento.RUTTrans
%p
  %b Rutchofer:
  = @documento.RUTChofer
%p
  %b Nombrechofer:
  = @documento.NombreChofer
%p
  %b Dirdest:
  = @documento.DirDest
%p
  %b Cmnadest:
  = @documento.CmnaDest
%p
  %b Ciudaddest:
  = @documento.CiudadDest
%p
  %b Codmodventa:
  = @documento.CodModVenta
%p
  %b Codclauventa:
  = @documento.CodClauVenta
%p
  %b Totclauventa:
  = @documento.TotClauVenta
%p
  %b Codviatransp:
  = @documento.CodViaTransp
%p
  %b Nombretransp:
  = @documento.NombreTransp
%p
  %b Rutciatransp:
  = @documento.RUTCiaTransp
%p
  %b Nomciatransp:
  = @documento.NomCiaTransp
%p
  %b Idadictransp:
  = @documento.IdAdicTransp
%p
  %b Booking:
  = @documento.Booking
%p
  %b Operador:
  = @documento.Operador
%p
  %b Codptoembarque:
  = @documento.CodPtoEmbarque
%p
  %b Idadicptoemb:
  = @documento.IdAdicPtoEmb
%p
  %b Codptodesemb:
  = @documento.CodPtoDesemb
%p
  %b Idadicptodesemb:
  = @documento.IdAdicPtoDesemb
%p
  %b Tara:
  = @documento.Tara
%p
  %b Codunidmedtara:
  = @documento.CodUnidMedTara
%p
  %b Pesobruto:
  = @documento.PesoBruto
%p
  %b Codunidpesobruto:
  = @documento.CodUnidPesoBruto
%p
  %b Pesoneto:
  = @documento.PesoNeto
%p
  %b Codunidpesoneto:
  = @documento.CodUnidPesoNeto
%p
  %b Totitems:
  = @documento.TotItems
%p
  %b Totbultos:
  = @documento.TotBultos
%p
  %b Tpomoneda:
  = @documento.TpoMoneda
%p
  %b Mntneto:
  = @documento.MntNeto
%p
  %b Mntexe:
  = @documento.MntExe
%p
  %b Mntbase:
  = @documento.MntBase
%p
  %b Mntmargencom:
  = @documento.MntMargenCom
%p
  %b Tasaiva:
  = @documento.TasaIVA
%p
  %b Iva:
  = @documento.IVA
%p
  %b Ivaprop:
  = @documento.IVAProp
%p
  %b Ivaterc:
  = @documento.IVATerc
%p
  %b Ivanoret:
  = @documento.IVANoRet
%p
  %b Credec:
  = @documento.CredEC
%p
  %b Grntdep:
  = @documento.GrntDep
%p
  %b Valcomneto:
  = @documento.ValComNeto
%p
  %b Valcomexe:
  = @documento.ValComExe
%p
  %b Valcomiva:
  = @documento.ValComIVA
%p
  %b Mnttotal:
  = @documento.MntTotal
%p
  %b Montonf:
  = @documento.MontoNF

= link_to 'Edit', edit_documento_path(@documento)
\|
= link_to 'Back', documentos_path
