%h1 Listing tipodtes

%table
  %thead
    %tr
      %th Tipo
      %th Nombre
      %th
      %th
      %th
      
  %tbody
    - @tipodtes.each do |tipodte|
      %tr
        %td= tipodte.tipo
        %td= tipodte.nombre
        %td= link_to 'Show', tipodte
        %td= link_to 'Edit', edit_tipodte_path(tipodte)
        %td= link_to 'Destroy', tipodte, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Tipodte', new_tipodte_path
