= simple_form_for(@dsc_rcg_global) do |f|
  = f.error_notification

  .form-inputs
    = f.input :NroLinDR
    = f.input :integer
    = f.input :TpoMov
    = f.input :string
    = f.input :GlosaDR
    = f.input :string
    = f.input :TpoValor
    = f.input :string
    = f.input :ValorDR
    = f.input :integer
    = f.input :IndExeDR
    = f.input :integer
    = f.association :documento

  .form-actions
    = f.button :submit
