%p#notice= notice

%p
  %b Nrolindr:
  = @dsc_rcg_global.NroLinDR
%p
  %b Integer:
  = @dsc_rcg_global.integer
%p
  %b Tpomov:
  = @dsc_rcg_global.TpoMov
%p
  %b String:
  = @dsc_rcg_global.string
%p
  %b Glosadr:
  = @dsc_rcg_global.GlosaDR
%p
  %b String:
  = @dsc_rcg_global.string
%p
  %b Tpovalor:
  = @dsc_rcg_global.TpoValor
%p
  %b String:
  = @dsc_rcg_global.string
%p
  %b Valordr:
  = @dsc_rcg_global.ValorDR
%p
  %b Integer:
  = @dsc_rcg_global.integer
%p
  %b Indexedr:
  = @dsc_rcg_global.IndExeDR
%p
  %b Integer:
  = @dsc_rcg_global.integer
%p
  %b Documento:
  = @dsc_rcg_global.documento

= link_to 'Edit', edit_dsc_rcg_global_path(@dsc_rcg_global)
\|
= link_to 'Back', dsc_rcg_globals_path
