%p#notice= notice

%p
  %b Nrolincom:
  = @comision.NroLinCom
%p
  %b Tipomovim:
  = @comision.TipoMovim
%p
  %b Glosa:
  = @comision.Glosa
%p
  %b Valcomneto:
  = @comision.ValComNeto
%p
  %b Valcomexe:
  = @comision.ValComExe
%p
  %b Valcomiva:
  = @comision.ValComIVA
%p
  %b Documento:
  = @comision.documento

= link_to 'Edit', edit_comision_path(@comision)
\|
= link_to 'Back', comisions_path
