%h1 Listing debitnotedetails

%table
  %tr
    %th Nrolindet
    %th Tpocodigo
    %th Vlrcodigo
    %th Indexe
    %th Indagente
    %th Mntbasefaena
    %th Mntmargcomer
    %th Prcconsfinal
    %th Nmbitem
    %th Dscitem
    %th Qtyref
    %th Unmdref
    %th Prcref
    %th Qtyitem
    %th Unmditem
    %th Prcitem
    %th Prcotrmon
    %th Moneda
    %th Fctconv
    %th Dctootrmnda
    %th Recargootrmnda
    %th Montoitemotrmnd
    %th A
    %th Descuentopct
    %th Descuentomonto
    %th Tipodscto
    %th Valordscto
    %th Recargopct
    %th Recargomonto
    %th Tiporecargo
    %th Valorrecargo
    %th Codimpadic
    %th Montoitem
    %th Debitnote
    %th
    %th
    %th

  - @debitnotedetails.each do |debitnotedetail|
    %tr
      %td= debitnotedetail.NroLinDet
      %td= debitnotedetail.TpoCodigo
      %td= debitnotedetail.VlrCodigo
      %td= debitnotedetail.IndExe
      %td= debitnotedetail.IndAgente
      %td= debitnotedetail.MntBaseFaena
      %td= debitnotedetail.MntMargComer
      %td= debitnotedetail.PrcConsFinal
      %td= debitnotedetail.NmbItem
      %td= debitnotedetail.DscItem
      %td= debitnotedetail.QtyRef
      %td= debitnotedetail.UnmdRef
      %td= debitnotedetail.PrcRef
      %td= debitnotedetail.QtyItem
      %td= debitnotedetail.UnmdItem
      %td= debitnotedetail.PrcItem
      %td= debitnotedetail.PrcOtrMon
      %td= debitnotedetail.Moneda
      %td= debitnotedetail.FctConv
      %td= debitnotedetail.DctoOtrMnda
      %td= debitnotedetail.RecargoOtrMnda
      %td= debitnotedetail.MontoItemOtrMnd
      %td= debitnotedetail.a
      %td= debitnotedetail.DescuentoPct
      %td= debitnotedetail.DescuentoMonto
      %td= debitnotedetail.TipoDscto
      %td= debitnotedetail.ValorDscto
      %td= debitnotedetail.RecargoPct
      %td= debitnotedetail.RecargoMonto
      %td= debitnotedetail.TipoRecargo
      %td= debitnotedetail.ValorRecargo
      %td= debitnotedetail.CodImpAdic
      %td= debitnotedetail.MontoItem
      %td= debitnotedetail.debitnote
      %td= link_to 'Show', debitnotedetail
      %td= link_to 'Edit', edit_debitnotedetail_path(debitnotedetail)
      %td= link_to 'Destroy', debitnotedetail, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Debitnotedetail', new_debitnotedetail_path
