%p#notice= notice

%p
  %b Nrolindet:
  = @debitnotedetail.NroLinDet
%p
  %b Tpocodigo:
  = @debitnotedetail.TpoCodigo
%p
  %b Vlrcodigo:
  = @debitnotedetail.VlrCodigo
%p
  %b Indexe:
  = @debitnotedetail.IndExe
%p
  %b Indagente:
  = @debitnotedetail.IndAgente
%p
  %b Mntbasefaena:
  = @debitnotedetail.MntBaseFaena
%p
  %b Mntmargcomer:
  = @debitnotedetail.MntMargComer
%p
  %b Prcconsfinal:
  = @debitnotedetail.PrcConsFinal
%p
  %b Nmbitem:
  = @debitnotedetail.NmbItem
%p
  %b Dscitem:
  = @debitnotedetail.DscItem
%p
  %b Qtyref:
  = @debitnotedetail.QtyRef
%p
  %b Unmdref:
  = @debitnotedetail.UnmdRef
%p
  %b Prcref:
  = @debitnotedetail.PrcRef
%p
  %b Qtyitem:
  = @debitnotedetail.QtyItem
%p
  %b Unmditem:
  = @debitnotedetail.UnmdItem
%p
  %b Prcitem:
  = @debitnotedetail.PrcItem
%p
  %b Prcotrmon:
  = @debitnotedetail.PrcOtrMon
%p
  %b Moneda:
  = @debitnotedetail.Moneda
%p
  %b Fctconv:
  = @debitnotedetail.FctConv
%p
  %b Dctootrmnda:
  = @debitnotedetail.DctoOtrMnda
%p
  %b Recargootrmnda:
  = @debitnotedetail.RecargoOtrMnda
%p
  %b Montoitemotrmnd:
  = @debitnotedetail.MontoItemOtrMnd
%p
  %b A:
  = @debitnotedetail.a
%p
  %b Descuentopct:
  = @debitnotedetail.DescuentoPct
%p
  %b Descuentomonto:
  = @debitnotedetail.DescuentoMonto
%p
  %b Tipodscto:
  = @debitnotedetail.TipoDscto
%p
  %b Valordscto:
  = @debitnotedetail.ValorDscto
%p
  %b Recargopct:
  = @debitnotedetail.RecargoPct
%p
  %b Recargomonto:
  = @debitnotedetail.RecargoMonto
%p
  %b Tiporecargo:
  = @debitnotedetail.TipoRecargo
%p
  %b Valorrecargo:
  = @debitnotedetail.ValorRecargo
%p
  %b Codimpadic:
  = @debitnotedetail.CodImpAdic
%p
  %b Montoitem:
  = @debitnotedetail.MontoItem
%p
  %b Debitnote:
  = @debitnotedetail.debitnote

= link_to 'Edit', edit_debitnotedetail_path(@debitnotedetail)
\|
= link_to 'Back', debitnotedetails_path
