%h1 Listing impto_retens

%table
  %tr
    %th Tipoimp
    %th String
    %th Tasaimp
    %th Float
    %th Montoimp
    %th Integer
    %th Documento
    %th
    %th
    %th

  - @impto_retens.each do |impto_reten|
    %tr
      %td= impto_reten.TipoImp
      %td= impto_reten.string
      %td= impto_reten.TasaImp
      %td= impto_reten.float
      %td= impto_reten.MontoImp
      %td= impto_reten.integer
      %td= impto_reten.documento
      %td= link_to 'Show', impto_reten
      %td= link_to 'Edit', edit_impto_reten_path(impto_reten)
      %td= link_to 'Destroy', impto_reten, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Impto reten', new_impto_reten_path
