%p#notice= notice

%p
  %b Tipoimp:
  = @impto_reten.TipoImp
%p
  %b String:
  = @impto_reten.string
%p
  %b Tasaimp:
  = @impto_reten.TasaImp
%p
  %b Float:
  = @impto_reten.float
%p
  %b Montoimp:
  = @impto_reten.MontoImp
%p
  %b Integer:
  = @impto_reten.integer
%p
  %b Documento:
  = @impto_reten.documento

= link_to 'Edit', edit_impto_reten_path(@impto_reten)
\|
= link_to 'Back', impto_retens_path
