= simple_form_for(@debitnote) do |f|
  = f.error_notification

  .form-inputs
    = f.input :Version
    = f.input :TipoDTE
    = f.input :Folio
    = f.input :FchEmis
    = f.input :IndServicio
    = f.input :MntBruto
    = f.input :FmaPago
    = f.input :FchCancel
    = f.input :MntCancel
    = f.input :SaldoInsol
    = f.input :FchPago
    = f.input :MntPago
    = f.input :GlosaPagos
    = f.input :PeriodoDesde
    = f.input :PeriodoHasta
    = f.input :MedioPago
    = f.input :TipoCtaPago
    = f.input :NumCtaPago
    = f.input :BcoPago
    = f.input :TermPagoCdg
    = f.input :TermPagoGlosa
    = f.input :TermPagoDias
    = f.input :FchVenc
    = f.input :RUTEmisor
    = f.input :RznSoc
    = f.input :GiroEmis
    = f.input :Telefono
    = f.input :CorreoEmisor
    = f.input :Acteco
    = f.input :Sucursal
    = f.input :CdgSIISucur
    = f.input :DirOrigen
    = f.input :CmnaOrigen
    = f.input :CiudadOrigen
    = f.input :CdgVendedor
    = f.input :RUTMandante
    = f.input :RUTRecep
    = f.input :CdgIntRecep
    = f.input :RznSocRecep
    = f.input :NumId
    = f.input :Nacionalidad
    = f.input :GiroRecep
    = f.input :Contacto
    = f.input :CorreoRecep
    = f.input :DirRecep
    = f.input :CmnaRecep
    = f.input :CiudadRecep
    = f.input :DirPostal
    = f.input :CmnaPostal
    = f.input :CiudadPostal
    = f.input :RUTSolicita
    = f.input :RUTChofer
    = f.input :NombreChofer
    = f.input :DirDest
    = f.input :CmnaDest
    = f.input :CiudadDest
    = f.input :MntNeto
    = f.input :MntExe
    = f.input :MntBase
    = f.input :MntMargenCom
    = f.input :TasaIVA
    = f.input :IVA
    = f.input :IVAProp
    = f.input :IVATerc
    = f.input :TipoImp
    = f.input :TasaImp
    = f.input :MontoImp
    = f.input :IVANoRet
    = f.input :CredEC
    = f.input :GrntDep
    = f.input :ValComNeto
    = f.input :ValComExe
    = f.input :ValComIVA
    = f.input :MntTotal
    = f.input :MontoNF
    = f.input :MontoPeriodo
    = f.input :SaldoAnterior
    = f.input :VlrPagar
    = f.input :TpoMoneda
    = f.input :TpoCambio
    = f.input :MntNetoOtrMnda
    = f.input :MntExeOtrMnda
    = f.input :MntFaeCarneOtrMnda
    = f.input :MntMargComOtrMnda
    = f.input :IVAOtrMnda
    = f.input :ImpRetOtrMnda
    = f.input :TipoImpOtrMnda
    = f.input :TasaImpOtrMnda
    = f.input :VlrImpOtrMnda
    = f.input :IVANoRetOtrMnda
    = f.input :MntTotOtrMnda
    = f.input :NroSti
    = f.input :GlosaSti
    = f.input :OrdenSti
    = f.input :SubTotNetoSti
    = f.input :SubTotIVASti
    = f.input :SubTotAdicSti
    = f.input :SubTotExeSti
    = f.input :ValSubTotSti
    = f.input :LineasDeta
    = f.input :NroLinDr
    = f.input :TpoMov
    = f.input :GlosaDr
    = f.input :TpoValor
    = f.input :ValorDr
    = f.input :ValorDrOtrMnda
    = f.input :IndExeDr
    = f.input :NroLinRef
    = f.input :TpoDocRef
    = f.input :IndGlobal
    = f.input :FolioRef
    = f.input :RUTOtr
    = f.input :FchRef
    = f.input :CodRef
    = f.input :RazonRef
    = f.input :NroLinCom
    = f.input :TipoMovim
    = f.input :Glosa
    = f.input :TasaComision
    = f.input :ValComNeto
    = f.input :ValComExe
    = f.input :ValComIVA
    = f.input :X509Certificate
    = f.input :SignatureValue
    = f.input :Tmstfirma

  .form-actions
    = f.button :submit
