%p#notice= notice

%p
  %b Version:
  = @debitnote.Version
%p
  %b Tipodte:
  = @debitnote.TipoDTE
%p
  %b Folio:
  = @debitnote.Folio
%p
  %b Fchemis:
  = @debitnote.FchEmis
%p
  %b Indservicio:
  = @debitnote.IndServicio
%p
  %b Mntbruto:
  = @debitnote.MntBruto
%p
  %b Fmapago:
  = @debitnote.FmaPago
%p
  %b Fchcancel:
  = @debitnote.FchCancel
%p
  %b Mntcancel:
  = @debitnote.MntCancel
%p
  %b Saldoinsol:
  = @debitnote.SaldoInsol
%p
  %b Fchpago:
  = @debitnote.FchPago
%p
  %b Mntpago:
  = @debitnote.MntPago
%p
  %b Glosapagos:
  = @debitnote.GlosaPagos
%p
  %b Periododesde:
  = @debitnote.PeriodoDesde
%p
  %b Periodohasta:
  = @debitnote.PeriodoHasta
%p
  %b Mediopago:
  = @debitnote.MedioPago
%p
  %b Tipoctapago:
  = @debitnote.TipoCtaPago
%p
  %b Numctapago:
  = @debitnote.NumCtaPago
%p
  %b Bcopago:
  = @debitnote.BcoPago
%p
  %b Termpagocdg:
  = @debitnote.TermPagoCdg
%p
  %b Termpagoglosa:
  = @debitnote.TermPagoGlosa
%p
  %b Termpagodias:
  = @debitnote.TermPagoDias
%p
  %b Fchvenc:
  = @debitnote.FchVenc
%p
  %b Rutemisor:
  = @debitnote.RUTEmisor
%p
  %b Rznsoc:
  = @debitnote.RznSoc
%p
  %b Giroemis:
  = @debitnote.GiroEmis
%p
  %b Telefono:
  = @debitnote.Telefono
%p
  %b Correoemisor:
  = @debitnote.CorreoEmisor
%p
  %b Acteco:
  = @debitnote.Acteco
%p
  %b Sucursal:
  = @debitnote.Sucursal
%p
  %b Cdgsiisucur:
  = @debitnote.CdgSIISucur
%p
  %b Dirorigen:
  = @debitnote.DirOrigen
%p
  %b Cmnaorigen:
  = @debitnote.CmnaOrigen
%p
  %b Ciudadorigen:
  = @debitnote.CiudadOrigen
%p
  %b Cdgvendedor:
  = @debitnote.CdgVendedor
%p
  %b Rutmandante:
  = @debitnote.RUTMandante
%p
  %b Rutrecep:
  = @debitnote.RUTRecep
%p
  %b Cdgintrecep:
  = @debitnote.CdgIntRecep
%p
  %b Rznsocrecep:
  = @debitnote.RznSocRecep
%p
  %b Numid:
  = @debitnote.NumId
%p
  %b Nacionalidad:
  = @debitnote.Nacionalidad
%p
  %b Girorecep:
  = @debitnote.GiroRecep
%p
  %b Contacto:
  = @debitnote.Contacto
%p
  %b Correorecep:
  = @debitnote.CorreoRecep
%p
  %b Dirrecep:
  = @debitnote.DirRecep
%p
  %b Cmnarecep:
  = @debitnote.CmnaRecep
%p
  %b Ciudadrecep:
  = @debitnote.CiudadRecep
%p
  %b Dirpostal:
  = @debitnote.DirPostal
%p
  %b Cmnapostal:
  = @debitnote.CmnaPostal
%p
  %b Ciudadpostal:
  = @debitnote.CiudadPostal
%p
  %b Rutsolicita:
  = @debitnote.RUTSolicita
%p
  %b Rutchofer:
  = @debitnote.RUTChofer
%p
  %b Nombrechofer:
  = @debitnote.NombreChofer
%p
  %b Dirdest:
  = @debitnote.DirDest
%p
  %b Cmnadest:
  = @debitnote.CmnaDest
%p
  %b Ciudaddest:
  = @debitnote.CiudadDest
%p
  %b Mntneto:
  = @debitnote.MntNeto
%p
  %b Mntexe:
  = @debitnote.MntExe
%p
  %b Mntbase:
  = @debitnote.MntBase
%p
  %b Mntmargencom:
  = @debitnote.MntMargenCom
%p
  %b Tasaiva:
  = @debitnote.TasaIVA
%p
  %b Iva:
  = @debitnote.IVA
%p
  %b Ivaprop:
  = @debitnote.IVAProp
%p
  %b Ivaterc:
  = @debitnote.IVATerc
%p
  %b Tipoimp:
  = @debitnote.TipoImp
%p
  %b Tasaimp:
  = @debitnote.TasaImp
%p
  %b Montoimp:
  = @debitnote.MontoImp
%p
  %b Ivanoret:
  = @debitnote.IVANoRet
%p
  %b Credec:
  = @debitnote.CredEC
%p
  %b Grntdep:
  = @debitnote.GrntDep
%p
  %b Valcomneto:
  = @debitnote.ValComNeto
%p
  %b Valcomexe:
  = @debitnote.ValComExe
%p
  %b Valcomiva:
  = @debitnote.ValComIVA
%p
  %b Mnttotal:
  = @debitnote.MntTotal
%p
  %b Montonf:
  = @debitnote.MontoNF
%p
  %b Montoperiodo:
  = @debitnote.MontoPeriodo
%p
  %b Saldoanterior:
  = @debitnote.SaldoAnterior
%p
  %b Vlrpagar:
  = @debitnote.VlrPagar
%p
  %b Tpomoneda:
  = @debitnote.TpoMoneda
%p
  %b Tpocambio:
  = @debitnote.TpoCambio
%p
  %b Mntnetootrmnda:
  = @debitnote.MntNetoOtrMnda
%p
  %b Mntexeotrmnda:
  = @debitnote.MntExeOtrMnda
%p
  %b Mntfaecarneotrmnda:
  = @debitnote.MntFaeCarneOtrMnda
%p
  %b Mntmargcomotrmnda:
  = @debitnote.MntMargComOtrMnda
%p
  %b Ivaotrmnda:
  = @debitnote.IVAOtrMnda
%p
  %b Impretotrmnda:
  = @debitnote.ImpRetOtrMnda
%p
  %b Tipoimpotrmnda:
  = @debitnote.TipoImpOtrMnda
%p
  %b Tasaimpotrmnda:
  = @debitnote.TasaImpOtrMnda
%p
  %b Vlrimpotrmnda:
  = @debitnote.VlrImpOtrMnda
%p
  %b Ivanoretotrmnda:
  = @debitnote.IVANoRetOtrMnda
%p
  %b Mnttototrmnda:
  = @debitnote.MntTotOtrMnda
%p
  %b Nrosti:
  = @debitnote.NroSti
%p
  %b Glosasti:
  = @debitnote.GlosaSti
%p
  %b Ordensti:
  = @debitnote.OrdenSti
%p
  %b Subtotnetosti:
  = @debitnote.SubTotNetoSti
%p
  %b Subtotivasti:
  = @debitnote.SubTotIVASti
%p
  %b Subtotadicsti:
  = @debitnote.SubTotAdicSti
%p
  %b Subtotexesti:
  = @debitnote.SubTotExeSti
%p
  %b Valsubtotsti:
  = @debitnote.ValSubTotSti
%p
  %b Lineasdeta:
  = @debitnote.LineasDeta
%p
  %b Nrolindr:
  = @debitnote.NroLinDr
%p
  %b Tpomov:
  = @debitnote.TpoMov
%p
  %b Glosadr:
  = @debitnote.GlosaDr
%p
  %b Tpovalor:
  = @debitnote.TpoValor
%p
  %b Valordr:
  = @debitnote.ValorDr
%p
  %b Valordrotrmnda:
  = @debitnote.ValorDrOtrMnda
%p
  %b Indexedr:
  = @debitnote.IndExeDr
%p
  %b Nrolinref:
  = @debitnote.NroLinRef
%p
  %b Tpodocref:
  = @debitnote.TpoDocRef
%p
  %b Indglobal:
  = @debitnote.IndGlobal
%p
  %b Folioref:
  = @debitnote.FolioRef
%p
  %b Rutotr:
  = @debitnote.RUTOtr
%p
  %b Fchref:
  = @debitnote.FchRef
%p
  %b Codref:
  = @debitnote.CodRef
%p
  %b Razonref:
  = @debitnote.RazonRef
%p
  %b Nrolincom:
  = @debitnote.NroLinCom
%p
  %b Tipomovim:
  = @debitnote.TipoMovim
%p
  %b Glosa:
  = @debitnote.Glosa
%p
  %b Tasacomision:
  = @debitnote.TasaComision
%p
  %b Valcomneto:
  = @debitnote.ValComNeto
%p
  %b Valcomexe:
  = @debitnote.ValComExe
%p
  %b Valcomiva:
  = @debitnote.ValComIVA
%p
  %b X509certificate:
  = @debitnote.X509Certificate
%p
  %b Signaturevalue:
  = @debitnote.SignatureValue
%p
  %b Tmstfirma:
  = @debitnote.Tmstfirma

= link_to 'Edit', edit_debitnote_path(@debitnote)
\|
= link_to 'Back', debitnotes_path
