= simple_form_for(@guide) do |f|
  = f.error_notification

  .form-inputs
    = f.input :Version
    = f.input :TipoDTE
    = f.input :Folio
    = f.input :FchEmis
    = f.input :TipoDespacho
    = f.input :IndTraslado
    = f.input :TpoImpresion
    = f.input :FmaPago
    = f.input :FmaPagExp
    = f.input :FchCancel
    = f.input :MntCancel
    = f.input :SaldoInsol
    = f.input :FchPago
    = f.input :MntPago
    = f.input :GlosaPagos
    = f.input :TermPagoCdg
    = f.input :TermPagoGlosa
    = f.input :TermPagoDias
    = f.input :RUTEmisor
    = f.input :RznSoc
    = f.input :GiroEmis
    = f.input :Telefono
    = f.input :CorreoEmisor
    = f.input :Acteco
    = f.input :CdgTraslado
    = f.input :FolioAut
    = f.input :FchAut
    = f.input :Sucursal
    = f.input :CdgSIISucur
    = f.input :DirOrigen
    = f.input :CmnaOrigen
    = f.input :CiudadOrigen
    = f.input :CdgVendedor
    = f.input :IdAdicEmisor
    = f.input :RUTMandante
    = f.input :RUTRecep
    = f.input :CdgIntRecep
    = f.input :RznSocRecep
    = f.input :NumId
    = f.input :Nacionalidad
    = f.input :GiroRecep
    = f.input :Contacto
    = f.input :CorreoRecep
    = f.input :DirRecep
    = f.input :CmnaRecep
    = f.input :CiudadRecep
    = f.input :DirPostal
    = f.input :CmnaPostal
    = f.input :CiudadPostal
    = f.input :Patente
    = f.input :RUTTrans
    = f.input :RUTChofer
    = f.input :NombreChofer
    = f.input :DirDest
    = f.input :CmnaDest
    = f.input :CiudadDest
    = f.input :CodModVenta
    = f.input :CodClauVenta
    = f.input :TotClauVenta
    = f.input :CodViaTransp
    = f.input :NombreTransp
    = f.input :RUTCiaTransp
    = f.input :NomCiaTransp
    = f.input :IdAdicTransp
    = f.input :Booking
    = f.input :Operador
    = f.input :CodPtoEmbarque
    = f.input :IdAdicPtoEmb
    = f.input :CodPtoDesemb
    = f.input :IdAdicPtoDesemb
    = f.input :Tara
    = f.input :CodUnidMedTara
    = f.input :CodUnidPesoBruto
    = f.input :PesoBruto
    = f.input :PesoNeto
    = f.input :CodUnidPesoNeto
    = f.input :TotItems
    = f.input :TotBultos
    = f.input :TipoBultos
    = f.input :CodTpoBultos
    = f.input :CantBultos
    = f.input :Marcas
    = f.input :IdContainer
    = f.input :Sello
    = f.input :EmisorSello
    = f.input :MntFlete
    = f.input :MntSeguro
    = f.input :CodPaisRecep
    = f.input :CodPaisDestin
    = f.input :MntNeto
    = f.input :MntExe
    = f.input :MntBase
    = f.input :MntMargenCom
    = f.input :TasaIVA
    = f.input :IVA
    = f.input :IVAProp
    = f.input :IVATerc
    = f.input :TipoImp
    = f.input :TasaImp
    = f.input :MontoImp
    = f.input :CredEC
    = f.input :MntTotal
    = f.input :MontoNF
    = f.input :MontoPeriodo
    = f.input :SaldoAnterior
    = f.input :VlrPagar
    = f.input :TpoMoneda
    = f.input :TpoCambio
    = f.input :MntNetoOtrMnda
    = f.input :MntExeOtrMnda
    = f.input :MntFaeCarneOtr
    = f.input :Mnda
    = f.input :MntMargComOtr
    = f.input :Mnda
    = f.input :IVAOtrMnda
    = f.input :TipoImpOtrMnda
    = f.input :TasaImpOtrMnda
    = f.input :VlrImpOtrMnda
    = f.input :MntTotOtrMnda
    = f.input :NroSti
    = f.input :integer
    = f.input :GlosaSti
    = f.input :text
    = f.input :OrdenSti
    = f.input :integer
    = f.input :SubTotNetoSti
    = f.input :float
    = f.input :SubTotIVASti
    = f.input :float
    = f.input :SubTotAdicSti
    = f.input :float
    = f.input :SubTotExeSti
    = f.input :float
    = f.input :ValSubTotSti
    = f.input :float
    = f.input :LineasDeta
    = f.input :integer
    = f.input :NroLinDr
    = f.input :TpoMov
    = f.input :GlosaDr
    = f.input :TpoValor
    = f.input :ValorDr
    = f.input :ValorDrOtrMnda
    = f.input :IndExeDr
    = f.input :NroLinRef
    = f.input :TpoDocRef
    = f.input :IndGlobal
    = f.input :FolioRef
    = f.input :FchRef
    = f.input :CodRef
    = f.input :RazonRef
    = f.input :X509Certificate
    = f.input :SignatureValue
    = f.input :Tmstfirma

  .form-actions
    = f.button :submit
