%h1 Listing guides

%table
  %tr
    %th Version
    %th Tipodte
    %th Folio
    %th Fchemis
    %th Tipodespacho
    %th Indtraslado
    %th Tpoimpresion
    %th Fmapago
    %th Fmapagexp
    %th Fchcancel
    %th Mntcancel
    %th Saldoinsol
    %th Fchpago
    %th Mntpago
    %th Glosapagos
    %th Termpagocdg
    %th Termpagoglosa
    %th Termpagodias
    %th Rutemisor
    %th Rznsoc
    %th Giroemis
    %th Telefono
    %th Correoemisor
    %th Acteco
    %th Cdgtraslado
    %th Folioaut
    %th Fchaut
    %th Sucursal
    %th Cdgsiisucur
    %th Dirorigen
    %th Cmnaorigen
    %th Ciudadorigen
    %th Cdgvendedor
    %th Idadicemisor
    %th Rutmandante
    %th Rutrecep
    %th Cdgintrecep
    %th Rznsocrecep
    %th Numid
    %th Nacionalidad
    %th Girorecep
    %th Contacto
    %th Correorecep
    %th Dirrecep
    %th Cmnarecep
    %th Ciudadrecep
    %th Dirpostal
    %th Cmnapostal
    %th Ciudadpostal
    %th Patente
    %th Ruttrans
    %th Rutchofer
    %th Nombrechofer
    %th Dirdest
    %th Cmnadest
    %th Ciudaddest
    %th Codmodventa
    %th Codclauventa
    %th Totclauventa
    %th Codviatransp
    %th Nombretransp
    %th Rutciatransp
    %th Nomciatransp
    %th Idadictransp
    %th Booking
    %th Operador
    %th Codptoembarque
    %th Idadicptoemb
    %th Codptodesemb
    %th Idadicptodesemb
    %th Tara
    %th Codunidmedtara
    %th Codunidpesobruto
    %th Pesobruto
    %th Pesoneto
    %th Codunidpesoneto
    %th Totitems
    %th Totbultos
    %th Tipobultos
    %th Codtpobultos
    %th Cantbultos
    %th Marcas
    %th Idcontainer
    %th Sello
    %th Emisorsello
    %th Mntflete
    %th Mntseguro
    %th Codpaisrecep
    %th Codpaisdestin
    %th Mntneto
    %th Mntexe
    %th Mntbase
    %th Mntmargencom
    %th Tasaiva
    %th Iva
    %th Ivaprop
    %th Ivaterc
    %th Tipoimp
    %th Tasaimp
    %th Montoimp
    %th Credec
    %th Mnttotal
    %th Montonf
    %th Montoperiodo
    %th Saldoanterior
    %th Vlrpagar
    %th Tpomoneda
    %th Tpocambio
    %th Mntnetootrmnda
    %th Mntexeotrmnda
    %th Mntfaecarneotr
    %th Mnda
    %th Mntmargcomotr
    %th Mnda
    %th Ivaotrmnda
    %th Tipoimpotrmnda
    %th Tasaimpotrmnda
    %th Vlrimpotrmnda
    %th Mnttototrmnda
    %th Nrosti
    %th Integer
    %th Glosasti
    %th Text
    %th Ordensti
    %th Integer
    %th Subtotnetosti
    %th Float
    %th Subtotivasti
    %th Float
    %th Subtotadicsti
    %th Float
    %th Subtotexesti
    %th Float
    %th Valsubtotsti
    %th Float
    %th Lineasdeta
    %th Integer
    %th Nrolindr
    %th Tpomov
    %th Glosadr
    %th Tpovalor
    %th Valordr
    %th Valordrotrmnda
    %th Indexedr
    %th Nrolinref
    %th Tpodocref
    %th Indglobal
    %th Folioref
    %th Fchref
    %th Codref
    %th Razonref
    %th X509certificate
    %th Signaturevalue
    %th Tmstfirma
    %th
    %th
    %th

  - @guides.each do |guide|
    %tr
      %td= guide.Version
      %td= guide.TipoDTE
      %td= guide.Folio
      %td= guide.FchEmis
      %td= guide.TipoDespacho
      %td= guide.IndTraslado
      %td= guide.TpoImpresion
      %td= guide.FmaPago
      %td= guide.FmaPagExp
      %td= guide.FchCancel
      %td= guide.MntCancel
      %td= guide.SaldoInsol
      %td= guide.FchPago
      %td= guide.MntPago
      %td= guide.GlosaPagos
      %td= guide.TermPagoCdg
      %td= guide.TermPagoGlosa
      %td= guide.TermPagoDias
      %td= guide.RUTEmisor
      %td= guide.RznSoc
      %td= guide.GiroEmis
      %td= guide.Telefono
      %td= guide.CorreoEmisor
      %td= guide.Acteco
      %td= guide.CdgTraslado
      %td= guide.FolioAut
      %td= guide.FchAut
      %td= guide.Sucursal
      %td= guide.CdgSIISucur
      %td= guide.DirOrigen
      %td= guide.CmnaOrigen
      %td= guide.CiudadOrigen
      %td= guide.CdgVendedor
      %td= guide.IdAdicEmisor
      %td= guide.RUTMandante
      %td= guide.RUTRecep
      %td= guide.CdgIntRecep
      %td= guide.RznSocRecep
      %td= guide.NumId
      %td= guide.Nacionalidad
      %td= guide.GiroRecep
      %td= guide.Contacto
      %td= guide.CorreoRecep
      %td= guide.DirRecep
      %td= guide.CmnaRecep
      %td= guide.CiudadRecep
      %td= guide.DirPostal
      %td= guide.CmnaPostal
      %td= guide.CiudadPostal
      %td= guide.Patente
      %td= guide.RUTTrans
      %td= guide.RUTChofer
      %td= guide.NombreChofer
      %td= guide.DirDest
      %td= guide.CmnaDest
      %td= guide.CiudadDest
      %td= guide.CodModVenta
      %td= guide.CodClauVenta
      %td= guide.TotClauVenta
      %td= guide.CodViaTransp
      %td= guide.NombreTransp
      %td= guide.RUTCiaTransp
      %td= guide.NomCiaTransp
      %td= guide.IdAdicTransp
      %td= guide.Booking
      %td= guide.Operador
      %td= guide.CodPtoEmbarque
      %td= guide.IdAdicPtoEmb
      %td= guide.CodPtoDesemb
      %td= guide.IdAdicPtoDesemb
      %td= guide.Tara
      %td= guide.CodUnidMedTara
      %td= guide.CodUnidPesoBruto
      %td= guide.PesoBruto
      %td= guide.PesoNeto
      %td= guide.CodUnidPesoNeto
      %td= guide.TotItems
      %td= guide.TotBultos
      %td= guide.TipoBultos
      %td= guide.CodTpoBultos
      %td= guide.CantBultos
      %td= guide.Marcas
      %td= guide.IdContainer
      %td= guide.Sello
      %td= guide.EmisorSello
      %td= guide.MntFlete
      %td= guide.MntSeguro
      %td= guide.CodPaisRecep
      %td= guide.CodPaisDestin
      %td= guide.MntNeto
      %td= guide.MntExe
      %td= guide.MntBase
      %td= guide.MntMargenCom
      %td= guide.TasaIVA
      %td= guide.IVA
      %td= guide.IVAProp
      %td= guide.IVATerc
      %td= guide.TipoImp
      %td= guide.TasaImp
      %td= guide.MontoImp
      %td= guide.CredEC
      %td= guide.MntTotal
      %td= guide.MontoNF
      %td= guide.MontoPeriodo
      %td= guide.SaldoAnterior
      %td= guide.VlrPagar
      %td= guide.TpoMoneda
      %td= guide.TpoCambio
      %td= guide.MntNetoOtrMnda
      %td= guide.MntExeOtrMnda
      %td= guide.MntFaeCarneOtr
      %td= guide.Mnda
      %td= guide.MntMargComOtr
      %td= guide.Mnda
      %td= guide.IVAOtrMnda
      %td= guide.TipoImpOtrMnda
      %td= guide.TasaImpOtrMnda
      %td= guide.VlrImpOtrMnda
      %td= guide.MntTotOtrMnda
      %td= guide.NroSti
      %td= guide.integer
      %td= guide.GlosaSti
      %td= guide.text
      %td= guide.OrdenSti
      %td= guide.integer
      %td= guide.SubTotNetoSti
      %td= guide.float
      %td= guide.SubTotIVASti
      %td= guide.float
      %td= guide.SubTotAdicSti
      %td= guide.float
      %td= guide.SubTotExeSti
      %td= guide.float
      %td= guide.ValSubTotSti
      %td= guide.float
      %td= guide.LineasDeta
      %td= guide.integer
      %td= guide.NroLinDr
      %td= guide.TpoMov
      %td= guide.GlosaDr
      %td= guide.TpoValor
      %td= guide.ValorDr
      %td= guide.ValorDrOtrMnda
      %td= guide.IndExeDr
      %td= guide.NroLinRef
      %td= guide.TpoDocRef
      %td= guide.IndGlobal
      %td= guide.FolioRef
      %td= guide.FchRef
      %td= guide.CodRef
      %td= guide.RazonRef
      %td= guide.X509Certificate
      %td= guide.SignatureValue
      %td= guide.Tmstfirma
      %td= link_to 'Show', guide
      %td= link_to 'Edit', edit_guide_path(guide)
      %td= link_to 'Destroy', guide, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Guide', new_guide_path
