%p#notice= notice

%p
  %b Version:
  = @guide.Version
%p
  %b Tipodte:
  = @guide.TipoDTE
%p
  %b Folio:
  = @guide.Folio
%p
  %b Fchemis:
  = @guide.FchEmis
%p
  %b Tipodespacho:
  = @guide.TipoDespacho
%p
  %b Indtraslado:
  = @guide.IndTraslado
%p
  %b Tpoimpresion:
  = @guide.TpoImpresion
%p
  %b Fmapago:
  = @guide.FmaPago
%p
  %b Fmapagexp:
  = @guide.FmaPagExp
%p
  %b Fchcancel:
  = @guide.FchCancel
%p
  %b Mntcancel:
  = @guide.MntCancel
%p
  %b Saldoinsol:
  = @guide.SaldoInsol
%p
  %b Fchpago:
  = @guide.FchPago
%p
  %b Mntpago:
  = @guide.MntPago
%p
  %b Glosapagos:
  = @guide.GlosaPagos
%p
  %b Termpagocdg:
  = @guide.TermPagoCdg
%p
  %b Termpagoglosa:
  = @guide.TermPagoGlosa
%p
  %b Termpagodias:
  = @guide.TermPagoDias
%p
  %b Rutemisor:
  = @guide.RUTEmisor
%p
  %b Rznsoc:
  = @guide.RznSoc
%p
  %b Giroemis:
  = @guide.GiroEmis
%p
  %b Telefono:
  = @guide.Telefono
%p
  %b Correoemisor:
  = @guide.CorreoEmisor
%p
  %b Acteco:
  = @guide.Acteco
%p
  %b Cdgtraslado:
  = @guide.CdgTraslado
%p
  %b Folioaut:
  = @guide.FolioAut
%p
  %b Fchaut:
  = @guide.FchAut
%p
  %b Sucursal:
  = @guide.Sucursal
%p
  %b Cdgsiisucur:
  = @guide.CdgSIISucur
%p
  %b Dirorigen:
  = @guide.DirOrigen
%p
  %b Cmnaorigen:
  = @guide.CmnaOrigen
%p
  %b Ciudadorigen:
  = @guide.CiudadOrigen
%p
  %b Cdgvendedor:
  = @guide.CdgVendedor
%p
  %b Idadicemisor:
  = @guide.IdAdicEmisor
%p
  %b Rutmandante:
  = @guide.RUTMandante
%p
  %b Rutrecep:
  = @guide.RUTRecep
%p
  %b Cdgintrecep:
  = @guide.CdgIntRecep
%p
  %b Rznsocrecep:
  = @guide.RznSocRecep
%p
  %b Numid:
  = @guide.NumId
%p
  %b Nacionalidad:
  = @guide.Nacionalidad
%p
  %b Girorecep:
  = @guide.GiroRecep
%p
  %b Contacto:
  = @guide.Contacto
%p
  %b Correorecep:
  = @guide.CorreoRecep
%p
  %b Dirrecep:
  = @guide.DirRecep
%p
  %b Cmnarecep:
  = @guide.CmnaRecep
%p
  %b Ciudadrecep:
  = @guide.CiudadRecep
%p
  %b Dirpostal:
  = @guide.DirPostal
%p
  %b Cmnapostal:
  = @guide.CmnaPostal
%p
  %b Ciudadpostal:
  = @guide.CiudadPostal
%p
  %b Patente:
  = @guide.Patente
%p
  %b Ruttrans:
  = @guide.RUTTrans
%p
  %b Rutchofer:
  = @guide.RUTChofer
%p
  %b Nombrechofer:
  = @guide.NombreChofer
%p
  %b Dirdest:
  = @guide.DirDest
%p
  %b Cmnadest:
  = @guide.CmnaDest
%p
  %b Ciudaddest:
  = @guide.CiudadDest
%p
  %b Codmodventa:
  = @guide.CodModVenta
%p
  %b Codclauventa:
  = @guide.CodClauVenta
%p
  %b Totclauventa:
  = @guide.TotClauVenta
%p
  %b Codviatransp:
  = @guide.CodViaTransp
%p
  %b Nombretransp:
  = @guide.NombreTransp
%p
  %b Rutciatransp:
  = @guide.RUTCiaTransp
%p
  %b Nomciatransp:
  = @guide.NomCiaTransp
%p
  %b Idadictransp:
  = @guide.IdAdicTransp
%p
  %b Booking:
  = @guide.Booking
%p
  %b Operador:
  = @guide.Operador
%p
  %b Codptoembarque:
  = @guide.CodPtoEmbarque
%p
  %b Idadicptoemb:
  = @guide.IdAdicPtoEmb
%p
  %b Codptodesemb:
  = @guide.CodPtoDesemb
%p
  %b Idadicptodesemb:
  = @guide.IdAdicPtoDesemb
%p
  %b Tara:
  = @guide.Tara
%p
  %b Codunidmedtara:
  = @guide.CodUnidMedTara
%p
  %b Codunidpesobruto:
  = @guide.CodUnidPesoBruto
%p
  %b Pesobruto:
  = @guide.PesoBruto
%p
  %b Pesoneto:
  = @guide.PesoNeto
%p
  %b Codunidpesoneto:
  = @guide.CodUnidPesoNeto
%p
  %b Totitems:
  = @guide.TotItems
%p
  %b Totbultos:
  = @guide.TotBultos
%p
  %b Tipobultos:
  = @guide.TipoBultos
%p
  %b Codtpobultos:
  = @guide.CodTpoBultos
%p
  %b Cantbultos:
  = @guide.CantBultos
%p
  %b Marcas:
  = @guide.Marcas
%p
  %b Idcontainer:
  = @guide.IdContainer
%p
  %b Sello:
  = @guide.Sello
%p
  %b Emisorsello:
  = @guide.EmisorSello
%p
  %b Mntflete:
  = @guide.MntFlete
%p
  %b Mntseguro:
  = @guide.MntSeguro
%p
  %b Codpaisrecep:
  = @guide.CodPaisRecep
%p
  %b Codpaisdestin:
  = @guide.CodPaisDestin
%p
  %b Mntneto:
  = @guide.MntNeto
%p
  %b Mntexe:
  = @guide.MntExe
%p
  %b Mntbase:
  = @guide.MntBase
%p
  %b Mntmargencom:
  = @guide.MntMargenCom
%p
  %b Tasaiva:
  = @guide.TasaIVA
%p
  %b Iva:
  = @guide.IVA
%p
  %b Ivaprop:
  = @guide.IVAProp
%p
  %b Ivaterc:
  = @guide.IVATerc
%p
  %b Tipoimp:
  = @guide.TipoImp
%p
  %b Tasaimp:
  = @guide.TasaImp
%p
  %b Montoimp:
  = @guide.MontoImp
%p
  %b Credec:
  = @guide.CredEC
%p
  %b Mnttotal:
  = @guide.MntTotal
%p
  %b Montonf:
  = @guide.MontoNF
%p
  %b Montoperiodo:
  = @guide.MontoPeriodo
%p
  %b Saldoanterior:
  = @guide.SaldoAnterior
%p
  %b Vlrpagar:
  = @guide.VlrPagar
%p
  %b Tpomoneda:
  = @guide.TpoMoneda
%p
  %b Tpocambio:
  = @guide.TpoCambio
%p
  %b Mntnetootrmnda:
  = @guide.MntNetoOtrMnda
%p
  %b Mntexeotrmnda:
  = @guide.MntExeOtrMnda
%p
  %b Mntfaecarneotr:
  = @guide.MntFaeCarneOtr
%p
  %b Mnda:
  = @guide.Mnda
%p
  %b Mntmargcomotr:
  = @guide.MntMargComOtr
%p
  %b Mnda:
  = @guide.Mnda
%p
  %b Ivaotrmnda:
  = @guide.IVAOtrMnda
%p
  %b Tipoimpotrmnda:
  = @guide.TipoImpOtrMnda
%p
  %b Tasaimpotrmnda:
  = @guide.TasaImpOtrMnda
%p
  %b Vlrimpotrmnda:
  = @guide.VlrImpOtrMnda
%p
  %b Mnttototrmnda:
  = @guide.MntTotOtrMnda
%p
  %b Nrosti:
  = @guide.NroSti
%p
  %b Integer:
  = @guide.integer
%p
  %b Glosasti:
  = @guide.GlosaSti
%p
  %b Text:
  = @guide.text
%p
  %b Ordensti:
  = @guide.OrdenSti
%p
  %b Integer:
  = @guide.integer
%p
  %b Subtotnetosti:
  = @guide.SubTotNetoSti
%p
  %b Float:
  = @guide.float
%p
  %b Subtotivasti:
  = @guide.SubTotIVASti
%p
  %b Float:
  = @guide.float
%p
  %b Subtotadicsti:
  = @guide.SubTotAdicSti
%p
  %b Float:
  = @guide.float
%p
  %b Subtotexesti:
  = @guide.SubTotExeSti
%p
  %b Float:
  = @guide.float
%p
  %b Valsubtotsti:
  = @guide.ValSubTotSti
%p
  %b Float:
  = @guide.float
%p
  %b Lineasdeta:
  = @guide.LineasDeta
%p
  %b Integer:
  = @guide.integer
%p
  %b Nrolindr:
  = @guide.NroLinDr
%p
  %b Tpomov:
  = @guide.TpoMov
%p
  %b Glosadr:
  = @guide.GlosaDr
%p
  %b Tpovalor:
  = @guide.TpoValor
%p
  %b Valordr:
  = @guide.ValorDr
%p
  %b Valordrotrmnda:
  = @guide.ValorDrOtrMnda
%p
  %b Indexedr:
  = @guide.IndExeDr
%p
  %b Nrolinref:
  = @guide.NroLinRef
%p
  %b Tpodocref:
  = @guide.TpoDocRef
%p
  %b Indglobal:
  = @guide.IndGlobal
%p
  %b Folioref:
  = @guide.FolioRef
%p
  %b Fchref:
  = @guide.FchRef
%p
  %b Codref:
  = @guide.CodRef
%p
  %b Razonref:
  = @guide.RazonRef
%p
  %b X509certificate:
  = @guide.X509Certificate
%p
  %b Signaturevalue:
  = @guide.SignatureValue
%p
  %b Tmstfirma:
  = @guide.Tmstfirma

= link_to 'Edit', edit_guide_path(@guide)
\|
= link_to 'Back', guides_path
