%p#notice= notice

%p
  %b Nrolindet:
  = @creditnotedetail.NroLinDet
%p
  %b Tpocodigo:
  = @creditnotedetail.TpoCodigo
%p
  %b Vlrcodigo:
  = @creditnotedetail.VlrCodigo
%p
  %b Indexe:
  = @creditnotedetail.IndExe
%p
  %b Indagente:
  = @creditnotedetail.IndAgente
%p
  %b Mntbasefaena:
  = @creditnotedetail.MntBaseFaena
%p
  %b Mntmargcomer:
  = @creditnotedetail.MntMargComer
%p
  %b Prcconsfinal:
  = @creditnotedetail.PrcConsFinal
%p
  %b Nmbitem:
  = @creditnotedetail.NmbItem
%p
  %b Dscitem:
  = @creditnotedetail.DscItem
%p
  %b Qtyref:
  = @creditnotedetail.QtyRef
%p
  %b Unmdref:
  = @creditnotedetail.UnmdRef
%p
  %b Prcref:
  = @creditnotedetail.PrcRef
%p
  %b Qtyitem:
  = @creditnotedetail.QtyItem
%p
  %b Unmditem:
  = @creditnotedetail.UnmdItem
%p
  %b Prcitem:
  = @creditnotedetail.PrcItem
%p
  %b Prcotrmon:
  = @creditnotedetail.PrcOtrMon
%p
  %b Moneda:
  = @creditnotedetail.Moneda
%p
  %b Fctconv:
  = @creditnotedetail.FctConv
%p
  %b Dctootrmnda:
  = @creditnotedetail.DctoOtrMnda
%p
  %b Recargootrmnda:
  = @creditnotedetail.RecargoOtrMnda
%p
  %b Montoitemotrmnd:
  = @creditnotedetail.MontoItemOtrMnd
%p
  %b A:
  = @creditnotedetail.a
%p
  %b Descuentopct:
  = @creditnotedetail.DescuentoPct
%p
  %b Descuentomonto:
  = @creditnotedetail.DescuentoMonto
%p
  %b Tipodscto:
  = @creditnotedetail.TipoDscto
%p
  %b Valordscto:
  = @creditnotedetail.ValorDscto
%p
  %b Recargopct:
  = @creditnotedetail.RecargoPct
%p
  %b Recargomonto:
  = @creditnotedetail.RecargoMonto
%p
  %b Tiporecargo:
  = @creditnotedetail.TipoRecargo
%p
  %b Valorrecargo:
  = @creditnotedetail.ValorRecargo
%p
  %b Codimpadic:
  = @creditnotedetail.CodImpAdic
%p
  %b Montoitem:
  = @creditnotedetail.MontoItem
%p
  %b Creditnote:
  = @creditnotedetail.creditnote

= link_to 'Edit', edit_creditnotedetail_path(@creditnotedetail)
\|
= link_to 'Back', creditnotedetails_path
